In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta, date
from tqdm import tqdm_notebook as tqdm

from multiprocessing import Pool
from functools import partial
import Training_function as func

In [2]:
data = pd.read_csv('D:\\庫存健診開發\\data\\Stock\\TWSE_Stock_feature.csv', converters={'ts': str, 'StockNo': str, 'StockName': str})
data['ts'] = pd.to_datetime(data['ts'])
data

,StockName,StockNo,close,high,low,open,return,total,ts,vol,...,12ema,MACD,upper_band,lower_band,TR,ATR,RSI_15,SO%k5,SO%d3,VWAP
0,台泥,1101,20.039051,20.512470,19.649312,20.075717,NaN,8.756613e+08,2004-02-11,4.447665e+07,...,NaN,NaN,NaN,NaN,0.863158,0.863158,0.000000,0.000000,0.000000,19.688111
1,台泥,1101,20.040495,20.513868,19.659728,20.082853,-0.60,7.295642e+08,2004-02-12,3.297591e+07,...,NaN,NaN,NaN,NaN,0.854140,0.858348,0.000000,0.000000,0.000000,22.124159
2,台泥,1101,20.041988,20.515313,19.670514,20.090241,1.30,1.200960e+09,2004-02-13,5.617167e+07,...,NaN,NaN,NaN,NaN,0.844799,0.853217,0.000000,0.000000,0.000000,21.380175
3,台泥,1101,20.043532,20.516806,19.681695,20.097900,1.00,3.204683e+09,2004-02-16,1.048261e+08,...,NaN,NaN,NaN,NaN,0.835112,0.847748,0.000000,0.000000,0.000000,30.571422
4,台泥,1101,20.045102,20.518324,19.693012,20.105654,0.00,1.477319e+09,2004-02-17,8.898974e+07,...,NaN,NaN,NaN,NaN,0.825313,0.841991,0.000000,0.455448,0.235070,16.601000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2874548,潤泰新,9945,42.679184,42.952617,42.556345,42.848899,0.00,4.273570e+07,2019-09-17,1.320010e+06,...,42.863634,0.188887,43.519508,42.072560,0.396273,0.442585,0.422686,0.151922,0.230893,32.375273
2874549,潤泰新,9945,42.479490,42.804302,42.390971,42.700605,-0.30,6.837791e+07,2019-09-18,1.301600e+06,...,42.804535,0.144251,43.479490,42.039934,0.413330,0.438928,0.348423,0.103975,0.167434,52.533741
2874550,潤泰新,9945,42.343602,42.701626,42.278013,42.599388,-0.55,5.453982e+07,2019-09-19,1.580219e+06,...,42.733622,0.096796,43.458944,41.990336,0.423612,0.437013,0.306400,0.075720,0.121577,34.514085
2874551,潤泰新,9945,42.270040,42.643028,42.216459,42.543419,-0.50,1.163660e+08,2019-09-20,2.190187e+06,...,42.662302,0.052645,43.449275,41.935492,0.426569,0.435708,0.284993,0.062555,0.092066,53.130610
2874552,潤泰新,9945,42.227661,42.608075,42.180395,42.510987,-0.15,7.036625e+07,2019-09-23,2.152956e+06,...,42.595434,0.014073,43.446389,41.878761,0.427679,0.434704,0.272256,0.061207,0.076637,32.683562

In [ ]:
train_df = pd.read_csv('D:\\庫存健診開發\\data\\Clustering\\train_cluster.csv', index_col=0)
test_df = pd.read_csv('D:\\庫存健診開發\\data\\Clustering\\test_cluster.csv', index_col=0)

In [ ]:
file_path = 'D:\\庫存健診開發\\data\\Training\\Raw\\'
func.ClusterSplit(train_df, test_df, data, file_path)

In [3]:
data = pd.read_csv('D:\\庫存健診開發\\data\\Training\\Raw\\Cluster_2.csv', converters={'ts': str, 'StockNo': str, 'StockName': str})
data['ts'] = pd.to_datetime(data['ts'])
data

,StockName,StockNo,close,high,low,open,return,total,ts,vol,...,12ema,MACD,upper_band,lower_band,TR,ATR,RSI_15,SO%k5,SO%d3,VWAP
0,環泥,1104,15.523971,15.916200,15.300605,15.662154,NaN,154830405.0,2004-02-11,1.085427e+07,...,NaN,NaN,NaN,NaN,0.615595,0.615595,0.000000,0.000000,0.000000,14.264466
1,環泥,1104,15.523027,15.911612,15.302032,15.657200,-0.75,160764761.0,2004-02-12,9.898120e+06,...,NaN,NaN,NaN,NaN,0.609580,0.612387,0.000000,0.000000,0.000000,16.241950
2,環泥,1104,15.522043,15.906856,15.303505,15.652065,0.75,176528947.0,2004-02-13,1.063492e+07,...,NaN,NaN,NaN,NaN,0.603352,0.608966,0.000000,0.000000,0.000000,16.598988
3,環泥,1104,15.521016,15.901920,15.305025,15.646736,0.30,278110480.0,2004-02-16,1.253292e+07,...,NaN,NaN,NaN,NaN,0.596895,0.605319,0.000000,0.000000,0.000000,22.190398
4,環泥,1104,15.519979,15.896928,15.306566,15.641347,-0.10,115442618.0,2004-02-17,1.019935e+07,...,NaN,NaN,NaN,NaN,0.590362,0.601481,0.000000,0.356361,0.183928,11.318629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577870,裕融,9941,113.706369,114.455840,113.218685,113.914552,-0.50,15152110.0,2019-09-17,2.376639e+05,...,113.338597,-0.014313,115.506936,108.539279,1.237155,1.455818,0.662174,0.239519,0.315707,63.754373
577871,裕融,9941,113.292399,113.919595,112.806063,113.420731,0.50,21134685.0,2019-09-18,1.403663e+05,...,113.331490,-0.016938,115.540760,108.770306,1.113532,1.413032,0.549514,0.208641,0.262174,150.568057
577872,裕融,9941,113.062638,113.612073,112.578479,113.142894,0.50,19528141.0,2019-09-19,1.118769e+05,...,113.290128,-0.037130,115.506078,109.090161,1.033593,1.365602,0.496290,0.200643,0.231409,174.550308
577873,裕融,9941,113.025866,113.543327,112.542819,113.087502,0.00,17982686.0,2019-09-20,1.487550e+05,...,113.249472,-0.055461,115.447224,109.449102,1.000509,1.319966,0.487828,0.211693,0.221551,120.887976
577874,裕融,9941,113.041500,113.543387,112.560256,113.096734,0.00,14079086.0,2019-09-23,1.473691e+05,...,113.217476,-0.067943,115.349047,109.840919,0.983131,1.277861,0.487845,0.260677,0.241114,95.536193

In [4]:
train_df, val_df, test_df = func.TrainTestSplit(data, date(2016,9,1), date(2017,9,1))

D:\庫存健診開發\code\TrainingPrep\Training_function.py:36: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  train_df = data[data['ts'].dt.date < TrainDate][data['26ema'].notnull()]
D:\庫存健診開發\code\TrainingPrep\Training_function.py:37: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  val_df = data[data['ts'].dt.date < ValDate][data['ts'].dt.date >= TrainDate][data['26ema'].notnull()]
D:\庫存健診開發\code\TrainingPrep\Training_function.py:38: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_df = data[data['ts'].dt.date >= ValDate][data['26ema'].notnull()]

In [5]:
df = pd.concat([train_df, val_df], axis=0)
df

,StockName,StockNo,close,high,low,open,return,total,ts,vol,...,12ema,MACD,upper_band,lower_band,TR,ATR,RSI_15,SO%k5,SO%d3,VWAP
24,環泥,1104,15.063186,15.387715,14.883738,15.138302,-0.30,152701302.0,2004-03-16,1.576207e+07,...,15.222730,-0.075012,15.643189,15.054966,0.503977,0.526412,0.000000,0.273509,0.275665,9.687896
25,環泥,1104,15.026680,15.349115,14.848580,15.100420,-0.10,88262326.0,2004-03-17,2.670419e+06,...,15.192172,-0.082353,15.638619,15.012555,0.500535,0.523073,0.000000,0.272741,0.274203,33.051865
26,環泥,1104,14.988830,15.309215,14.812048,15.061278,0.30,95662005.0,2004-03-18,6.064878e+06,...,15.160541,-0.089793,15.630999,14.969689,0.497167,0.519745,0.000000,0.271344,0.272774,15.773113
27,環泥,1104,14.949500,15.267892,14.773999,15.020757,0.40,140015263.0,2004-03-19,7.361566e+06,...,15.127768,-0.097360,15.620791,14.926119,0.493894,0.516435,0.000000,0.269138,0.270956,19.019766
28,環泥,1104,14.909912,15.226267,14.735721,14.979935,-1.10,10251032.0,2004-03-22,8.343447e+06,...,15.093986,-0.104985,15.608089,14.882111,0.490546,0.513130,0.000000,0.267167,0.269061,1.228633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491585,世紀鋼,9958,9.904970,9.941954,9.838087,9.904747,-0.04,1598506.0,2017-08-25,1.131278e+05,...,9.901705,0.024966,9.917714,9.876349,0.103867,0.108948,0.952625,0.638660,0.638457,14.130096
491586,世紀鋼,9958,9.906092,9.942970,9.839978,9.906835,0.05,1315466.0,2017-08-28,1.250367e+05,...,9.902380,0.023467,9.916969,9.880128,0.102992,0.108203,0.957676,0.654190,0.646323,10.520635
491587,世紀鋼,9958,9.908068,9.944782,9.842709,9.909699,-0.01,746280.0,2017-08-29,8.365288e+04,...,9.903255,0.022182,9.916169,9.883871,0.102073,0.107437,0.965236,0.661727,0.654025,8.921151
491588,世紀鋼,9958,9.909956,9.946509,9.845375,9.912509,0.02,878728.0,2017-08-30,1.213565e+05,...,9.904286,0.021073,9.915432,9.887506,0.101134,0.106649,0.970898,0.667223,0.660624,7.240880
491589,世紀鋼,9958,9.911725,9.948123,9.847947,9.915240,-0.01,527595.0,2017-08-31,1.030906e+05,...,9.905431,0.020106,9.914931,9.890815,0.100176,0.105840,0.975212,0.669216,0.664920,5.117781

In [6]:
df.isna().values.any()

False

In [7]:
feature_list = ['12ema', '26ema', 'ATR',
                'MACD', 'RSI_15', 'SO%d3',
                'SO%k5', 'TR', 'VWAP', 'close', 'high', 'low', 'lower_band', 'ma21', 'ma7', 'open',
                'upper_band', 'origin_close']

param = func.GetScalerParam(df, feature_list)
param

                       max            min          std       mean
12ema         6.610682e+02       2.682178    43.526098  37.691483
26ema         6.279351e+02       2.685627    43.461071  37.691979
ATR           9.481570e+01       0.034348     1.482834   0.917438
MACD          6.919412e+01     -48.365233     1.238774  -0.000496
RSI_15        1.000000e+00       0.000000     0.431583   0.505735
SO%d3         1.227780e+00      -0.512880     0.171706   0.473442
SO%k5         1.763013e+00      -0.591843     0.175718   0.473486
TR            3.655805e+02      -0.022158     1.836605   0.915264
VWAP          1.902948e+06 -710118.328842  3472.633621  43.653157
close         7.085353e+02     -14.038564    43.574462  37.690597
high          7.185552e+02     -14.363773    44.189108  38.171375
low           6.792544e+02     -14.563337    43.059355  37.279780
lower_band    5.638263e+02     -48.438013    41.505219  36.376945
ma21          6.340712e+02       2.682174    43.511072  37.692244
ma7           6.778376e+02       2.680774    43.552764  37.691036
open          6.917904e+02     -14.456683    43.643284  37.739610
upper_band    7.473935e+02       2.684868    45.703466  39.007542
origin_close  7.300000e+02       2.540000    43.654772  37.686776

In [10]:
train_df, val_df, test_df = func.Scaler(train_df, feature_list, param), func.Scaler(val_df, feature_list, param), func.Scaler(test_df, feature_list, param)

In [11]:
df_list = [group[1] for group in train_df.groupby(train_df['StockNo'])]

X_train, Y_train = [], []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.create_dataset, lookback=20, forward=5, feature_list=feature_list[:-1], problem='classification'), df_list), total=len(df_list)), 1):
            for xx in x[0]:
                X_train.append(xx.tolist())
            Y_train.extend(x[1])

np.array(X_train).shape

HBox(children=(IntProgress(value=0, max=182), HTML(value='')))

(437134, 20, 17)

In [12]:
df_list = [group[1] for group in val_df.groupby(val_df['StockNo'])]

X_val, Y_val = [], []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.create_dataset, lookback=20, forward=5, feature_list=feature_list[:-1], problem='classification'), df_list), total=len(df_list)), 1):
            for xx in x[0]:
                X_val.append(xx.tolist())
            Y_val.extend(x[1])

np.array(X_val).shape

HBox(children=(IntProgress(value=0, max=188), HTML(value='')))

(40694, 20, 17)

In [13]:
df_list = [group[1] for group in test_df.groupby(test_df['StockNo'])]

X_test, Y_test = [], []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.create_dataset, lookback=20, forward=5, feature_list=feature_list[:-1], problem='classification'), df_list), total=len(df_list)), 1):
            for xx in x[0]:
                X_test.append(xx.tolist())
            Y_test.extend(x[1])

np.array(X_test).shape

HBox(children=(IntProgress(value=0, max=174), HTML(value='')))

(81719, 20, 17)

In [14]:
(len(X_train) == len(Y_train)) and (len(X_val) == len(Y_val)) and (len(X_test) == len(Y_test))

True

In [15]:
save_list = [X_train, Y_train, X_val, Y_val, X_test, Y_test]

In [16]:
cluster = 2
import pickle
with open(f'D:\\庫存健診開發\\data\\Training\\processed\\Cluster_{cluster}\\Cluster_{cluster}_classification_minmax0_Weekly', 'wb') as fp:
    pickle.dump(save_list, fp)

In [3]:
data.min()

StockName                        GIS-KY
StockNo                            1101
close                            -225.3
high                           -222.252
low                            -235.395
open                           -235.177
return                            -3590
total                                 0
ts                  2004-02-11 00:00:00
vol                        -2.42732e+08
On_Date                      1962-02-09
Month                                 1
Weekday                               1
Intramonth                            0
IntramonthPeriod                      1
WeekNum                               0
Jan                                   0
Feb                                   0
Mar                                   0
Apr                                   0
May                                   0
Jun                                   0
Jul                                   0
Aug                                   0
Sep                                   0
Oct                                   0
Nov                                   0
Dec                                   0
Mon                                   0
Tue                                   0
Wed                                   0
Thu                                   0
Fri                                   0
Sat                                   0
First                                 0
Second                                0
Third                                 0
Fourth                                0
Fifth                                 0
origin_close                       0.29
ma7                            -2.13091
ma21                           -1.33163
26ema                          0.182213
12ema                          -1.17776
MACD                           -355.501
upper_band                     0.236122
lower_band                     -937.052
TR                            -0.793213
ATR                           -0.496693
RSI_15                                0
SO%k5                          -189.732
SO%d3                            -83.37
VWAP                       -2.41124e+06
dtype: object