In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta, date
from tqdm import tqdm_notebook as tqdm

from multiprocessing import Pool
from functools import partial
import Training_function as func

In [2]:
data = pd.read_csv('D:\\庫存健診開發\\data\\Training\\Raw\\Cluster_7.csv', converters={'ts': str, 'StockNo': str, 'StockName': str})
data['ts'] = pd.to_datetime(data['ts'])
data

,12ema,26ema,ATR,Apr,Aug,Dec,Feb,Fifth,First,Fourth,...,low,lower_band,ma21,ma7,open,return,total,ts,upper_band,vol
0,8.160435,8.151819,0.305091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.10,7.721399,8.128571,8.171429,8.30,-0.30,14101874.0,2004-03-16,8.535744,1729003.0
1,8.158808,8.151663,0.330236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.15,7.771559,8.126190,8.185714,8.30,0.05,32272212.0,2004-03-17,8.480821,3869977.0
2,8.141882,8.143055,0.313502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.95,7.836993,8.142857,8.178571,8.05,-0.10,18924243.0,2004-03-18,8.448721,2354839.0
3,8.112085,8.126880,0.305370,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,7.90,7.835364,8.152381,8.150000,8.05,-0.10,12955880.0,2004-03-19,8.469398,1627010.0
4,8.001664,8.066563,0.336599,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,7.40,7.712069,8.111905,8.050000,7.40,-0.55,960458.0,2004-03-22,8.511740,129741.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297797,16.358784,16.322856,0.178384,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,16.45,16.032372,16.276190,16.371429,16.45,0.30,45771691.0,2019-09-17,16.520009,2747278.0
297798,16.434356,16.361904,0.187336,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,16.65,15.954424,16.304762,16.457143,16.70,0.15,24187264.0,2019-09-18,16.655100,1439452.0
297799,16.490609,16.394356,0.182669,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,16.80,15.921821,16.333333,16.528571,16.85,-0.05,20019037.0,2019-09-19,16.744845,1186850.0
297800,16.530515,16.420700,0.178585,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,16.70,15.908901,16.357143,16.592857,16.85,-0.05,4781140.0,2019-09-20,16.805385,285298.0
297801,16.564282,16.445092,0.168762,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,16.75,15.907888,16.380952,16.664286,16.75,0.00,4913032.0,2019-09-23,16.854016,292802.0

In [3]:
d = func.Normalization(data, scaler='minmax_zero')
d

,12ema,26ema,ATR,Apr,Aug,Dec,Feb,Fifth,First,Fourth,...,low,lower_band,ma21,ma7,open,return,total,ts,upper_band,vol
0,0.023930,0.024366,0.006187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.022405,0.051342,0.023975,0.023336,0.021979,-0.30,14101874.0,2004-03-16,0.022442,0.010442
1,0.023924,0.024365,0.006759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.022573,0.051527,0.023967,0.023386,0.021979,0.05,32272212.0,2004-03-17,0.022267,0.023373
2,0.023863,0.024334,0.006378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.021903,0.051769,0.024027,0.023361,0.021179,-0.10,18924243.0,2004-03-18,0.022164,0.014222
3,0.023757,0.024275,0.006193,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.021735,0.051763,0.024061,0.023262,0.021179,-0.10,12955880.0,2004-03-19,0.022230,0.009826
4,0.023363,0.024054,0.006904,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.020061,0.051307,0.023915,0.022914,0.019100,-0.55,960458.0,2004-03-22,0.022366,0.000784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297797,0.053220,0.054254,0.003303,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.050370,0.082065,0.053287,0.051818,0.048053,0.30,45771691.0,2019-09-17,0.047926,0.016592
297798,0.053490,0.054397,0.003506,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.051040,0.081777,0.053390,0.052116,0.048853,0.15,24187264.0,2019-09-18,0.048358,0.008694
297799,0.053691,0.054516,0.003400,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.051542,0.081657,0.053493,0.052364,0.049333,-0.05,20019037.0,2019-09-19,0.048644,0.007168
297800,0.053834,0.054612,0.003307,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.051207,0.081609,0.053578,0.052587,0.049333,-0.05,4781140.0,2019-09-20,0.048837,0.001723
297801,0.053954,0.054701,0.003084,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.051375,0.081605,0.053664,0.052835,0.049013,0.00,4913032.0,2019-09-23,0.048992,0.001768

In [4]:
df_list = [group[1] for group in d.groupby(d['StockNo'])]

train_list, val_list, test_list = [], [], []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for j, x in enumerate(tqdm(pool.imap_unordered(partial(func.TrainTestSplit, TrainDate=date(2017,1,1), ValDate=date(2017,9,1)), df_list), total=len(df_list)), 1):
            train_list.append(x[0])
            val_list.append(x[1])
            test_list.append(x[2])

HBox(children=(IntProgress(value=0, max=107), HTML(value='')))

In [5]:
val_list[3]

,12ema,26ema,ATR,Apr,Aug,Dec,Feb,Fifth,First,Fourth,...,low,lower_band,ma21,ma7,open,return,total,ts,upper_band,vol
25050,0.093856,0.092759,0.018077,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.089219,0.115992,0.092381,0.092556,0.087884,-0.45,8585430.0,2017-01-03,0.088002,0.001837
25051,0.094031,0.093085,0.017288,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.088884,0.116547,0.092715,0.092655,0.085805,0.00,11871389.0,2017-01-04,0.088115,0.002545
25052,0.094151,0.093372,0.016028,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.088884,0.117411,0.093066,0.092853,0.085325,-0.05,6559168.0,2017-01-05,0.087993,0.001413
25053,0.094170,0.093598,0.015352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.088382,0.118365,0.093434,0.092878,0.085325,-0.15,7338750.0,2017-01-06,0.087822,0.001582
25054,0.094076,0.093753,0.014477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.087880,0.119309,0.093743,0.092456,0.084525,-0.20,5764029.0,2017-01-09,0.087555,0.001252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25207,0.075140,0.077331,0.017225,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.070297,0.099316,0.076243,0.073675,0.067409,0.00,3175973.0,2017-08-25,0.073766,0.000852
25208,0.075143,0.077296,0.015547,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.070465,0.099223,0.076097,0.073725,0.067889,0.05,3595193.0,2017-08-28,0.073588,0.000965
25209,0.075228,0.077303,0.014220,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.070297,0.099329,0.076012,0.073775,0.067889,0.15,2753892.0,2017-08-29,0.073343,0.000737
25210,0.075493,0.077405,0.013344,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.071302,0.099403,0.075918,0.073923,0.068209,0.35,7857411.0,2017-08-30,0.073113,0.002073
25211,0.075222,0.077255,0.014569,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.068790,0.099468,0.075669,0.073378,0.066129,-0.90,5608050.0,2017-08-31,0.072616,0.001534

In [12]:
df_list = [train_list, val_list, test_list]

X_train, Y_train, X_val, Y_val, X_test, Y_test = [], [], [], [], [], []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, stockdata in enumerate(df_list):
            if i == 0:
                for j, x in enumerate(tqdm(pool.imap_unordered(partial(func.create_dataset_regression, lookback=20, forward=5), stockdata), total=len(stockdata)), 1):
                    for xx in x[0]:
                        X_train.append(xx.tolist())
                    for yy in x[1]:
                        Y_train.append(yy.tolist())
            elif i == 1:
                for j, x in enumerate(tqdm(pool.imap_unordered(partial(func.create_dataset_regression, lookback=20, forward=5), stockdata), total=len(stockdata)), 1):
                    for xx in x[0]:
                        X_val.append(xx.tolist())
                    for yy in x[1]:
                        Y_val.append(yy.tolist())
            else:
                for j, x in enumerate(tqdm(pool.imap_unordered(partial(func.create_dataset_regression, lookback=20, forward=5), stockdata), total=len(stockdata)), 1):
                    for xx in x[0]:
                        X_test.append(xx.tolist())
                    for yy in x[1]:
                        Y_test.append(yy.tolist())

HBox(children=(IntProgress(value=0, max=107), HTML(value='')))

HBox(children=(IntProgress(value=0, max=107), HTML(value='')))

HBox(children=(IntProgress(value=0, max=107), HTML(value='')))

In [13]:
(len(X_train) == len(Y_train)) and (len(X_val) == len(Y_val)) and (len(X_test) == len(Y_test))

True

In [15]:
save_list = [X_train, Y_train, X_val, Y_val, X_test, Y_test]

In [16]:
cluster = 7
import pickle
with open(f'D:\\庫存健診開發\\data\\Training\\processed\\Cluster_{cluster}_regression_minmax0_Weekly_withoutMonth', 'wb') as fp:
    pickle.dump(save_list, fp)

In [14]:
np.array(X_train).shape

(227172, 20, 26)

In [ ]:
d['close'].min()