In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import numpy as np # linear algebra
import pandas as pd
# from tqdm import tqdm
from tqdm import tqdm_notebook as tqdm
from datetime import date
# tqdm.pandas()
from multiprocessing import Pool
from functools import partial
import Cluster_function as func

In [4]:
data = pd.read_csv('D:\\庫存健診開發\\data\\Stock\\TWSE_Stock.csv', converters={'ts': str, 'StockNo': str, 'StockName': str})
data['ts'] = pd.to_datetime(data['ts'])
data

,StockName,StockNo,close,high,low,open,return,total,ts,vol,On_Date
0,台泥,1101,19.3,19.9,19.1,19.9,NaN,8.756613e+08,2004-02-11,44990547.0,1962-02-09
1,台泥,1101,18.7,19.6,18.4,19.4,-0.6,7.295642e+08,2004-02-12,38283630.0,1962-02-09
2,台泥,1101,20.0,20.0,18.9,19.0,1.3,1.200960e+09,2004-02-13,60809947.0,1962-02-09
3,台泥,1101,21.0,21.4,20.0,20.0,1.0,3.204683e+09,2004-02-16,154068407.0,1962-02-09
4,台泥,1101,21.0,21.3,20.4,21.0,0.0,1.477319e+09,2004-02-17,70709589.0,1962-02-09
...,...,...,...,...,...,...,...,...,...,...,...
2874548,世紀鋼,9958,77.3,78.9,77.1,78.9,-0.2,2.371908e+08,2019-09-17,3050500.0,2008-03-12 00:00:00
2874549,世紀鋼,9958,77.7,79.3,77.5,77.9,0.4,4.648791e+08,2019-09-18,5940537.0,2008-03-12 00:00:00
2874550,世紀鋼,9958,76.3,78.4,76.2,78.4,-1.4,3.086962e+08,2019-09-19,4011923.0,2008-03-12 00:00:00
2874551,世紀鋼,9958,75.8,77.0,75.8,76.6,-0.5,1.328813e+08,2019-09-20,1742684.0,2008-03-12 00:00:00
2874552,世紀鋼,9958,75.8,76.5,75.4,75.8,0.0,1.161456e+08,2019-09-23,1530090.0,2008-03-12 00:00:00

In [5]:
data_train = data[data['ts'].dt.date < date(2017,9,1)]
df_list = [group[1] for group in data_train.groupby(data_train['StockNo'])]

output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(func.Close_denoise, df_list), total=len(df_list)), 1):
            output_list.append(x)
    
data = pd.concat(output_list, axis=0)
data

HBox(children=(IntProgress(value=0, max=887), HTML(value='')))

,StockName,StockNo,close,high,low,open,return,total,ts,vol,On_Date,close_normalized,denoised
0,環泥,1104,15.60,16.20,15.60,16.20,NaN,154830405.0,2004-02-11,9735915.0,1971-02-01,0.229528,0.226755
1,環泥,1104,14.85,15.90,14.60,15.80,-0.75,160764761.0,2004-02-12,10576848.0,1971-02-01,0.199274,0.226725
2,環泥,1104,15.60,15.70,14.95,14.95,0.75,176528947.0,2004-02-13,11433989.0,1971-02-01,0.229528,0.226695
3,環泥,1104,15.90,16.10,15.50,15.80,0.30,278110480.0,2004-02-16,17488742.0,1971-02-01,0.241630,0.226662
4,環泥,1104,15.80,16.20,15.70,16.10,-0.10,115442618.0,2004-02-17,7261933.0,1971-02-01,0.237596,0.226629
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,世紀鋼,9958,9.90,9.99,9.90,9.99,-0.04,1598506.0,2017-08-25,161007.0,2008-03-12 00:00:00,0.066946,0.067015
2344,世紀鋼,9958,9.95,9.97,9.90,9.97,0.05,1315466.0,2017-08-28,132416.0,2008-03-12 00:00:00,0.067643,0.067031
2345,世紀鋼,9958,9.94,9.96,9.94,9.96,-0.01,746280.0,2017-08-29,75000.0,2008-03-12 00:00:00,0.067503,0.067058
2346,世紀鋼,9958,9.96,9.98,9.95,9.98,0.02,878728.0,2017-08-30,88183.0,2008-03-12 00:00:00,0.067782,0.067084
2347,世紀鋼,9958,9.95,9.99,9.86,9.99,-0.01,527595.0,2017-08-31,53233.0,2008-03-12 00:00:00,0.067643,0.067109

In [6]:
df = func.Cluster_df(data, date(2017,9,1))
df

HBox(children=(IntProgress(value=0, max=887), HTML(value='')))

,台泥,亞泥,嘉泥,環泥,幸福,信大,東泥,味全,味王,大成,...,宏全,信義,裕融,茂順,好樂迪,新麗,潤泰新,三發地產,佳龍,世紀鋼
ts,,,,,,,,,,,,,,,,,,,,,
2004-02-12,0.139777,0.189640,0.486706,0.226725,0.508361,0.463037,0.439737,0.125313,0.343064,0.054841,...,0.448082,0.631796,0.166480,0.170450,0.309594,0.297426,0.062478,NaN,NaN,NaN
2004-02-13,0.139809,0.190366,0.486454,0.226695,0.509362,0.464245,0.439499,0.125639,0.343788,0.055001,...,0.447909,0.632751,0.166434,0.170715,0.309960,0.296902,0.062705,NaN,NaN,NaN
2004-02-16,0.139842,0.191118,0.486194,0.226662,0.510398,0.465496,0.439252,0.125977,0.344538,0.055167,...,0.447731,0.633739,0.166387,0.170989,0.310340,0.296359,0.062942,NaN,NaN,NaN
2004-02-17,0.139875,0.191879,0.485932,0.226629,0.511446,0.466762,0.439003,0.126318,0.345297,0.055334,...,0.447551,0.634739,0.166339,0.171267,0.310725,0.295810,0.063180,NaN,NaN,NaN
2004-02-18,0.139909,0.192655,0.485665,0.226596,0.512512,0.468051,0.438750,0.126666,0.346070,0.055505,...,0.447368,0.635757,0.166291,0.171550,0.311116,0.295251,0.063424,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-25,0.452241,0.247905,0.120728,0.512173,0.319720,0.407290,0.691944,0.213240,0.695653,0.556972,...,0.522585,0.092680,0.913422,0.478671,0.695825,0.105351,0.430632,0.026965,0.031030,0.067015
2017-08-28,0.452149,0.247664,0.120910,0.511411,0.319239,0.407865,0.691490,0.213289,0.695634,0.557181,...,0.521982,0.092508,0.914477,0.478729,0.695421,0.105256,0.430201,0.025606,0.031284,0.067031
2017-08-29,0.452044,0.247523,0.121085,0.510899,0.318911,0.408299,0.691195,0.213336,0.695646,0.557356,...,0.521637,0.092387,0.915359,0.478774,0.695177,0.105162,0.429834,0.024353,0.031477,0.067058
2017-08-30,0.451924,0.247482,0.121252,0.510645,0.318737,0.408589,0.691062,0.213382,0.695690,0.557495,...,0.521557,0.092318,0.916066,0.478807,0.695095,0.105068,0.429532,0.023269,0.031646,0.067084
2017-08-31,0.451799,0.247497,0.121412,0.510539,0.318648,0.408796,0.691020,0.213425,0.695746,0.557612,...,0.521623,0.092278,0.916662,0.478833,0.695104,0.104976,0.429267,0.022221,0.031774,0.067109

In [ ]:
stock_list = df.columns.tolist()

output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.Correlation, data=df, all_stocks=stock_list), stock_list), total=len(stock_list)), 1):
            output_list.append(x)
    
CorrMatrix = pd.concat(output_list, axis=1)
CorrMatrix

HBox(children=(IntProgress(value=0, max=887), HTML(value='')))

In [ ]:
CorrMatrix.index = df.columns
CorrMatrix = CorrMatrix[CorrMatrix.index.tolist()]
CorrMatrix

In [ ]:
CorrMatrix.to_csv('D:\\庫存健診開發\\data\\Clustering\\Correlation_matrix.csv', index=True)

In [ ]:
CorrMatrix = pd.read_csv('D:\\庫存健診開發\\data\\Clustering\\Correlation_matrix.csv', index_col=0)
CorrMatrix

In [ ]:
clusters = [i for i in range(2, 31)]
Kmeans_Result, Kmeans_metrics, K_means = func.Cluster(CorrMatrix, method='Kmeans', cluster_list=clusters)
Kmedians_Result, Kmedians_metrics, K_medians = func.Cluster(CorrMatrix, method='Kmedians', cluster_list=clusters)
Hierarchical_Result, Hierarchical_metrics, Hierarchical = func.Cluster(CorrMatrix, method='Hierarchical', cluster_list=clusters)

In [ ]:
for method in [Kmeans_metrics, Kmedians_metrics, Hierarchical_metrics]:
    plt.figure()
    plt.plot(clusters, method, '*-')
    plt.xlabel('Number of Clusters')
    plt.ylabel('Silhouette Coefficient Score')
    plt.show()

In [ ]:
df_list = []
for i, c in enumerate(tqdm(clusters, total=len(clusters))):
    d = func.ClusterCorrMatrix(Kmeans_Result, data, c)
    df_list.append(d)

In [ ]:
count = []
for d in df_list:
    i = 0
    for col in d.columns:
        if d[d[col] == d[col].max()].index == col:
            i += 1
        else:
            continue
    ratio = i/len(d)
    count.append(ratio)

In [ ]:
count

In [ ]:
df_list[7]

In [ ]:
Kmeans_Result.groupby(Kmeans_Result['9']).size()

In [ ]:
centroid_1 = K_means[7].cluster_centers_.tolist()
centroid_2 = K_means[8].cluster_centers_.tolist()
centroid_3 = K_means[11].cluster_centers_.tolist()

In [ ]:
df_list.extend([count, centroid_1, centroid_2, centroid_3])

In [ ]:
import pickle
with open(f'D:\\庫存健診開發\\data\\Clustering\\Cluster_performance_denoised', 'wb') as fp:
    pickle.dump(df_list, fp)

In [ ]:
Kmeans_Result.to_csv('D:\\庫存健診開發\\data\\Clustering\\Cluster_data_Kmeans_denoised.csv', index=True)
Kmedians_Result.to_csv('D:\\庫存健診開發\\data\\Clustering\\Cluster_data_Kmedians_denoised.csv', index=True)

In [ ]:
with open(f'D:\\庫存健診開發\\data\\Clustering\\Cluster_performance_denoised', 'rb') as fp:
    load_list = pickle.load(fp)

In [ ]:
K_means[7].predict(data)

In [ ]:
centroid_labels = [centroid_1[i] for i in K_means[7].predict(data)]

In [ ]:
df = pd.read_csv('D:\\庫存健診開發\\data\\Clustering\\Stock_denoised.csv')

In [ ]:
df[Kmeans_Result[Kmeans_Result['9'] == 3].index.tolist()]

In [ ]:
df[Kmeans_Result[Kmeans_Result['14'] == 3].index.tolist()].iloc[:, :10].plot()