In [1]:
import numpy as np 
import pandas as pd 
import datetime
from datetime import datetime
from tqdm import tqdm_notebook as tqdm

from multiprocessing import Pool
from functools import partial
import Feature_function as func

In [2]:
data = pd.read_csv('D:\\庫存健診開發\\data\\Stock\\TWSE_Stock_fundamental.csv', converters={'ts': str, 'StockName': str, 'StockNo': str})
data['ts'] = pd.to_datetime(data['ts'])
data

,StockName,StockNo,close,high,low,open,return,total,ts,vol,year,total_num,eliminate_period
0,台泥,1101,21.00,21.00,20.40,20.70,0.10,417236030.0,2004-12-20,20105028.0,2004,NaN,0
1,台泥,1101,20.20,20.20,19.70,19.70,0.50,100967115.0,2005-08-12,5037589.0,2005,NaN,0
2,台泥,1101,19.60,20.40,19.50,20.40,-0.80,420293307.0,2005-08-10,21295902.0,2005,NaN,0
3,台泥,1101,20.40,20.40,20.20,20.30,0.10,121245861.0,2005-08-24,5970108.0,2005,NaN,0
4,台泥,1101,20.40,20.55,20.20,20.50,-0.20,147516136.0,2005-08-09,7238224.0,2005,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2874551,世紀鋼,9958,11.30,11.80,11.10,11.80,-0.50,1950500.0,2008-07-08,170000.0,2008,NaN,0
2874552,世紀鋼,9958,19.70,19.80,19.40,19.50,0.30,14390595.0,2008-04-15,732635.0,2008,NaN,0
2874553,世紀鋼,9958,19.55,20.00,19.55,20.00,-0.15,18114525.0,2008-04-16,919500.0,2008,NaN,0
2874554,世紀鋼,9958,9.96,10.00,9.60,9.97,-0.01,2673890.0,2008-09-25,270000.0,2008,NaN,0
2874555,世紀鋼,9958,10.90,10.95,10.75,10.80,-0.05,3144395.0,2012-10-24,289301.0,2012,138186702.0,0

In [3]:
df_list = [group[1] for group in data.groupby(data['StockNo'])]

output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(func.get_technical_indicators, df_list), total=len(df_list)), 1):
            output_list.append(x)
                
df = pd.concat(output_list, axis=0)
df

HBox(children=(IntProgress(value=0, max=939), HTML(value='')))

,StockName,StockNo,close,high,low,open,return,total,ts,vol,...,lower_band,skew,kurtosis,pvt_current,pvt,TR,ATR,RSI_15,SO%k5,SO%d3
0,嘉泥,1103,3.054602,3.081172,3.039477,3.062498,NaN,333925503.0,2004-02-11,16.352479,...,NaN,NaN,NaN,NaN,NaN,0.041694,0.041694,0.000000,0.000000,0.000000
1,嘉泥,1103,3.054331,3.080633,3.039346,3.062220,-0.90,246048766.0,2004-02-12,16.340381,...,NaN,NaN,NaN,-0.001451,NaN,0.041286,0.041477,0.000000,0.000000,0.000000
2,嘉泥,1103,3.054052,3.080077,3.039213,3.061934,0.40,333309529.0,2004-02-13,16.327849,...,NaN,NaN,NaN,-0.001491,-0.002942,0.040864,0.041245,0.000000,0.000000,0.000000
3,嘉泥,1103,3.053765,3.079502,3.039076,3.061640,1.00,515700813.0,2004-02-16,16.314851,...,NaN,NaN,NaN,-0.001533,-0.003024,0.040426,0.040997,0.000000,0.000000,0.000000
4,嘉泥,1103,3.053474,3.078921,3.038938,3.061342,-0.10,333141524.0,2004-02-17,16.301702,...,NaN,NaN,NaN,-0.001550,-0.003083,0.039983,0.040737,0.000000,0.344183,0.177643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2878,佳龍,9955,2.967179,2.979450,2.960362,2.972033,-0.20,10570940.0,2019-09-17,13.502837,...,2.967962,-0.558865,-0.907656,-0.034107,-0.066696,0.019089,0.024738,0.059349,0.124392,0.117789
2879,佳龍,9955,2.959344,2.968882,2.951687,2.961290,-0.15,8499084.0,2019-09-18,13.339974,...,2.959696,-0.520054,-0.949418,-0.035223,-0.069330,0.017195,0.023795,0.048550,0.139673,0.128731
2880,佳龍,9955,2.953398,2.961098,2.945143,2.953369,-0.35,18002738.0,2019-09-19,13.222699,...,2.951673,-0.477384,-1.036020,-0.026570,-0.061794,0.015955,0.022815,0.041966,0.156701,0.142716
2881,佳龍,9955,2.949554,2.956317,2.940942,2.948448,0.35,10280286.0,2019-09-20,13.152947,...,2.944156,-0.405219,-1.162565,-0.017119,-0.043690,0.015375,0.021885,0.038169,0.178432,0.160574
2882,佳龍,9955,2.946840,2.953072,2.938003,2.945145,0.15,8065152.0,2019-09-23,13.105957,...,2.937476,-0.313513,-1.292763,-0.012058,-0.029178,0.015069,0.021033,0.035594,0.213208,0.186891

In [4]:
df.columns

Index(['StockName', 'StockNo', 'close', 'high', 'low', 'open', 'return',
       'total', 'ts', 'vol', 'year', 'total_num', 'VWAP', 'origin_close',
       'eliminate', 'ma7', 'ma21', '26ema', '12ema', 'MACD', 'upper_band',
       'lower_band', 'skew', 'kurtosis', 'pvt_current', 'pvt', 'TR', 'ATR',
       'RSI_15', 'SO%k5', 'SO%d3'],
      dtype='object')

In [6]:
df.to_csv('D:\\庫存健診開發\\data\\Stock\\TWSE_Stock_feature_log.csv', index=False)