In [1]:
import numpy as np 
import pandas as pd 
import datetime
from datetime import datetime
from tqdm import tqdm_notebook as tqdm

from multiprocessing import Pool
from functools import partial
import Feature_function as func

In [2]:
data = pd.read_csv('D:\\庫存健診開發\\data\\Stock\\TWSE_Stock_fundamental.csv', converters={'ts': str, 'StockName': str, 'StockNo': str})
data['ts'] = pd.to_datetime(data['ts'])
data

,StockName,StockNo,close,high,low,open,return,total,ts,vol,year,total_num,eliminate_period,foreign_buy,investment_buy,dealer_buy
0,台泥,1101,21.00,21.00,20.40,20.70,0.10,417236030.0,2004-12-20,20105028.0,2004,NaN,0,8827.0,0.0,101.0
1,台泥,1101,20.20,20.20,19.70,19.70,0.50,100967115.0,2005-08-12,5037589.0,2005,NaN,0,2013.0,3.0,545.0
2,台泥,1101,19.60,20.40,19.50,20.40,-0.80,420293307.0,2005-08-10,21295902.0,2005,NaN,0,-10194.0,-1084.0,-2169.0
3,台泥,1101,20.40,20.40,20.20,20.30,0.10,121245861.0,2005-08-24,5970108.0,2005,NaN,0,1696.0,1002.0,-16.0
4,台泥,1101,20.40,20.55,20.20,20.50,-0.20,147516136.0,2005-08-09,7238224.0,2005,NaN,0,-2010.0,-2.0,-375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2874551,世紀鋼,9958,11.30,11.80,11.10,11.80,-0.50,1950500.0,2008-07-08,170000.0,2008,NaN,0,-23.0,0.0,-4.0
2874552,世紀鋼,9958,19.70,19.80,19.40,19.50,0.30,14390595.0,2008-04-15,732635.0,2008,NaN,0,0.0,0.0,0.0
2874553,世紀鋼,9958,19.55,20.00,19.55,20.00,-0.15,18114525.0,2008-04-16,919500.0,2008,NaN,0,0.0,0.0,0.0
2874554,世紀鋼,9958,9.96,10.00,9.60,9.97,-0.01,2673890.0,2008-09-25,270000.0,2008,NaN,0,44.0,0.0,1.0
2874555,世紀鋼,9958,10.90,10.95,10.75,10.80,-0.05,3144395.0,2012-10-24,289301.0,2012,138186702.0,0,-6.0,0.0,0.0

In [3]:
df_list = [group[1] for group in data.groupby(data['StockNo'])]

output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(func.get_technical_indicators, df_list), total=len(df_list)), 1):
            output_list.append(x)
                
df = pd.concat(output_list, axis=0)
df

HBox(children=(IntProgress(value=0, max=939), HTML(value='')))

,StockName,StockNo,close,high,low,open,return,total,ts,vol,...,investment_buy_kurtosis,dealer_buy_skew,dealer_buy_kurtosis,pvt_current,pvt,TR,ATR,RSI_15,SO%k5,SO%d3
0,亞泥,1102,23.869740,24.366515,23.277261,23.766541,NaN,1.895267e+08,2004-02-11,1.953132e+07,...,NaN,NaN,NaN,NaN,NaN,1.089254,1.089254,0.000000,0.000000,0.000000
1,亞泥,1102,23.900024,24.396603,23.318646,23.805446,-0.50,2.468034e+08,2004-02-12,9.896328e+06,...,NaN,NaN,NaN,12555.716747,NaN,1.077957,1.083229,0.000000,0.000000,0.000000
2,亞泥,1102,23.931360,24.427742,23.361480,23.845723,1.40,8.446286e+08,2004-02-13,2.937028e+07,...,NaN,NaN,NaN,38508.350723,51064.067470,1.066261,1.076803,0.000000,0.000000,0.000000
3,亞泥,1102,23.963821,24.460004,23.405864,23.887465,0.40,1.132873e+09,2004-02-16,3.486248e+07,...,NaN,NaN,NaN,47288.042327,85796.393050,1.054141,1.069958,0.000000,0.000000,0.000000
4,亞泥,1102,23.996646,24.492628,23.450749,23.929679,0.80,6.549583e+08,2004-02-17,3.180797e+07,...,NaN,NaN,NaN,43568.844907,90856.887234,1.041878,1.062752,0.000000,0.591908,0.305501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3854,潤泰新,9945,42.597097,42.882676,42.478737,42.769965,0.00,4.273570e+07,2019-09-17,9.913275e+05,...,14.891503,0.774622,-0.069637,-2939.578552,-5810.041361,0.403939,0.446959,0.394791,0.173960,0.230880
3855,潤泰新,9945,42.508437,42.815835,42.407700,42.711107,-0.30,6.837791e+07,2019-09-18,1.560745e+06,...,14.379924,0.959324,0.222628,-3248.485107,-6188.063659,0.408136,0.442106,0.347899,0.146203,0.188541
3856,潤泰新,9945,42.456466,42.772982,42.365112,42.673485,-0.55,5.453982e+07,2019-09-19,1.289888e+06,...,14.379924,0.959324,0.222628,-1577.016568,-4825.501675,0.407870,0.437827,0.321718,0.133362,0.160952
3857,潤泰新,9945,42.423662,42.743618,42.336151,42.646875,-0.50,1.163660e+08,2019-09-20,2.742475e+06,...,7.977569,0.946702,0.183959,-2119.021081,-3696.037649,0.407467,0.434032,0.303942,0.137104,0.149028
3858,潤泰新,9945,42.425955,42.738238,42.333337,42.641086,-0.15,7.036625e+07,2019-09-23,1.604318e+06,...,13.563851,1.080792,0.370129,86.744902,-2032.276179,0.404901,0.430391,0.302088,0.168600,0.158814

In [4]:
df.columns

Index(['StockName', 'StockNo', 'close', 'high', 'low', 'open', 'return',
       'total', 'ts', 'vol', 'year', 'total_num', 'foreign_buy',
       'investment_buy', 'dealer_buy', 'VWAP', 'origin_close', 'eliminate',
       'ma7', 'ma21', '26ema', '12ema', 'MACD', 'upper_band', 'lower_band',
       'close_skew', 'close_kurtosis', 'foreign_buy_skew',
       'foreign_buy_kurtosis', 'investment_buy_skew',
       'investment_buy_kurtosis', 'dealer_buy_skew', 'dealer_buy_kurtosis',
       'pvt_current', 'pvt', 'TR', 'ATR', 'RSI_15', 'SO%k5', 'SO%d3'],
      dtype='object')

In [5]:
df.to_csv('D:\\庫存健診開發\\data\\Stock\\TWSE_Stock_feature.csv', index=False)