In [2]:
import numpy as np 
import pandas as pd 
from datetime import datetime, date, timedelta
from tqdm import tqdm_notebook as tqdm
import os
import pymssql as mssql
import calendar
import json
from multiprocessing import Pool    
from functools import partial 

import Online_label as func

In [39]:
d = func.stock_query(date(2017,8,1), date(2019,9,20))
d['ts'] = pd.to_datetime(d['ts'])

In [22]:
origin_path = 'D:\\庫存健診開發\\data\\processed\\TWSE_feature_all_5day.csv'
df = pd.read_csv(origin_path, converters={'StockNo': str}, usecols=['ts', 'StockNo', 'Y', 'VWAP_day5'])
df['ts'] = pd.to_datetime(df['ts'])

In [40]:
d = d.rename(columns={'Y': 'SQL_Y'})

In [41]:
data = pd.merge(df, d, on=['ts', 'StockNo'], how='inner')

In [42]:
def check(row):
    if row['Y'] == row['SQL_Y']:
        return True
    else:
        return False

data['check'] = data.apply(check, axis=1)

In [56]:
d1 = data[(data.ts.dt.date >= date(2017,9,1)) & (data.ts.dt.date < date(2019,9,8)) & (~data['StockNo'].isin(['1449', '6133']))]
d1[~d1.check].iloc[45:100]

,ts,StockNo,VWAP_day5,Y,PAST_VWAP_5D,FUT_VWAP_5D,SQL_Y,check
30879,2018-10-19,1423,10.298788,1.0,10.298788,0.000000,0,False
39914,2017-09-25,1451,23.747253,1.0,23.747253,23.367918,0,False
39915,2017-09-26,1451,23.544761,1.0,23.544761,23.333924,0,False
39916,2017-09-27,1451,23.465455,1.0,23.465455,23.272109,0,False
39917,2017-09-28,1451,23.364919,1.0,23.364919,0.000000,0,False
39918,2017-09-29,1451,23.361793,1.0,23.361793,0.000000,0,False
47791,2018-04-30,1470,18.166667,1.0,18.166667,0.000000,0,False
47796,2018-05-08,1470,18.333333,0.0,0.000000,18.000000,1,False
47805,2018-05-21,1470,20.333333,1.0,20.333333,0.000000,0,False
47806,2018-05-22,1470,21.500000,1.0,21.500000,0.000000,0,False
47810,2018-05-28,1470,25.000000,0.0,0.000000,22.500000,1,False
47811,2018-05-29,1470,25.000000,0.0,0.000000,21.750000,1,False
47812,2018-05-30,1470,25.000000,0.0,0.000000,19.142857,1,False
47951,2018-12-14,1470,18.181818,1.0,18.181818,0.000000,0,False
48069,2019-06-18,1470,22.666667,0.0,0.000000,22.382353,1,False
48240,2018-01-10,1471,5.487313,1.0,5.487313,0.000000,0,False
48241,2018-01-11,1471,5.520656,1.0,5.520656,0.000000,0,False
48242,2018-01-12,1471,5.548060,1.0,5.548060,0.000000,0,False
48661,2017-10-16,1472,22.265107,1.0,22.265107,21.017221,0,False
48662,2017-10-17,1472,21.877959,1.0,21.877959,21.081717,0,False
48663,2017-10-18,1472,21.713625,1.0,21.713625,0.000000,0,False
48664,2017-10-19,1472,21.713835,1.0,21.713835,0.000000,0,False
48665,2017-10-20,1472,21.154160,1.0,21.154160,0.000000,0,False
50190,2017-10-31,1475,41.734601,1.0,41.734601,41.108108,0,False
50191,2017-11-01,1475,41.824268,1.0,41.824268,0.000000,0,False
50192,2017-11-02,1475,42.034875,1.0,42.034875,0.000000,0,False
50193,2017-11-03,1475,42.197561,1.0,42.197561,0.000000,0,False
61307,2018-12-10,1529,2.597059,1.0,2.597059,2.383234,0,False
61308,2018-12-11,1529,2.515496,1.0,2.515496,2.383117,0,False
61309,2018-12-12,1529,2.439907,1.0,2.439907,0.000000,0,False
61310,2018-12-13,1529,2.418109,1.0,2.418109,0.000000,0,False
61311,2018-12-14,1529,2.394569,1.0,2.394569,0.000000,0,False
65343,2018-08-28,1538,4.141414,1.0,4.141414,4.065116,0,False
65344,2018-08-29,1538,4.117647,1.0,4.117647,4.050562,0,False
65345,2018-08-30,1538,4.122581,1.0,4.122581,4.017857,0,False
65346,2018-08-31,1538,4.080000,1.0,4.080000,4.068182,0,False
65347,2018-09-03,1538,4.072650,1.0,4.072650,0.000000,0,False
68970,2018-10-22,1582,54.687699,1.0,54.687699,51.763324,0,False
68971,2018-10-23,1582,54.272564,1.0,54.272564,51.306918,0,False
68972,2018-10-24,1582,53.221080,1.0,53.221080,0.000000,0,False
68973,2018-10-25,1582,52.796610,1.0,52.796610,0.000000,0,False
68974,2018-10-26,1582,52.133242,1.0,52.133242,0.000000,0,False
72900,2018-12-03,1604,13.103669,1.0,13.103669,0.000000,0,False
105079,2017-11-13,2007,4.712528,1.0,4.712528,4.655172,0,False
105080,2017-11-14,2007,4.699143,1.0,4.699143,4.618677,0,False
105081,2017-11-15,2007,4.675388,1.0,4.675388,0.000000,0,False
105082,2017-11-16,2007,4.666667,1.0,4.666667,0.000000,0,False
105083,2017-11-17,2007,4.658840,1.0,4.658840,0.000000,0,False
110406,2018-08-13,2022,6.609519,1.0,6.609519,6.389715,0,False
110407,2018-08-14,2022,6.482551,1.0,6.482551,6.420920,0,False
110408,2018-08-15,2022,6.448378,1.0,6.448378,0.000000,0,False
110409,2018-08-16,2022,6.432355,1.0,6.432355,0.000000,0,False
110410,2018-08-17,2022,6.413504,1.0,6.413504,0.000000,0,False
112075,2019-03-28,2025,2.152482,0.0,0.000000,1.939835,1,False
112076,2019-03-29,2025,2.152482,0.0,0.000000,1.795794,1,False

In [50]:
d1[d1.StockNo == '1451'].iloc[:50]

,ts,StockNo,VWAP_day5,Y,PAST_VWAP_5D,FUT_VWAP_5D,SQL_Y,check
39898,2017-09-01,1451,22.180052,0.0,22.180052,22.156375,0,True
39899,2017-09-04,1451,22.137602,1.0,22.137602,22.229808,1,True
39900,2017-09-05,1451,22.164609,1.0,22.164609,22.348575,1,True
39901,2017-09-06,1451,22.138372,1.0,22.138372,22.489736,1,True
39902,2017-09-07,1451,22.153605,1.0,22.153605,22.645072,1,True
39903,2017-09-08,1451,22.156375,1.0,22.156375,22.881272,1,True
39904,2017-09-11,1451,22.229808,1.0,22.229808,23.602937,1,True
39905,2017-09-12,1451,22.348575,1.0,22.348575,23.845973,1,True
39906,2017-09-13,1451,22.489736,1.0,22.489736,23.928651,1,True
39907,2017-09-14,1451,22.645072,1.0,22.645072,23.969690,1,True
39908,2017-09-15,1451,22.881272,1.0,22.881272,23.987306,1,True
39909,2017-09-18,1451,23.602937,1.0,23.602937,23.747253,1,True
39910,2017-09-19,1451,23.845973,0.0,23.845973,23.544761,0,True
39911,2017-09-20,1451,23.928651,0.0,23.928651,23.465455,0,True
39912,2017-09-21,1451,23.969690,0.0,23.969690,23.364919,0,True
39913,2017-09-22,1451,23.987306,0.0,23.987306,23.361793,0,True
39914,2017-09-25,1451,23.747253,1.0,23.747253,23.367918,0,False
39915,2017-09-26,1451,23.544761,1.0,23.544761,23.333924,0,False
39916,2017-09-27,1451,23.465455,1.0,23.465455,23.272109,0,False
39917,2017-09-28,1451,23.364919,1.0,23.364919,0.000000,0,False
39918,2017-09-29,1451,23.361793,1.0,23.361793,0.000000,0,False
39919,2017-11-23,1451,27.226797,0.0,27.226797,26.865691,0,True
39920,2017-11-24,1451,27.166038,0.0,27.166038,26.784587,0,True
39921,2017-11-27,1451,27.147625,0.0,27.147625,26.885714,0,True
39922,2017-11-28,1451,27.080497,1.0,27.080497,27.222898,1,True
39923,2017-11-29,1451,26.984684,1.0,26.984684,27.505517,1,True
39924,2017-11-30,1451,26.865691,1.0,26.865691,28.101538,1,True
39925,2017-12-01,1451,26.784587,1.0,26.784587,28.309036,1,True
39926,2017-12-04,1451,26.885714,1.0,26.885714,28.575758,1,True
39927,2017-12-05,1451,27.222898,1.0,27.222898,28.542590,1,True
39928,2017-12-06,1451,27.505517,1.0,27.505517,28.487730,1,True
39929,2017-12-07,1451,28.101538,1.0,28.101538,28.428803,1,True
39930,2017-12-08,1451,28.309036,0.0,28.309036,27.734223,0,True
39931,2017-12-11,1451,28.575758,0.0,28.575758,27.538462,0,True
39932,2017-12-12,1451,28.542590,0.0,28.542590,27.402062,0,True
39933,2017-12-13,1451,28.487730,0.0,28.487730,27.317661,0,True
39934,2017-12-14,1451,28.428803,0.0,28.428803,27.168944,0,True
39935,2017-12-15,1451,27.734223,0.0,27.734223,27.154762,0,True
39936,2017-12-18,1451,27.538462,0.0,27.538462,27.294686,0,True
39937,2017-12-19,1451,27.402062,0.0,27.402062,27.336870,0,True
39938,2017-12-20,1451,27.317661,0.0,27.317661,27.251485,0,True
39939,2017-12-21,1451,27.168944,1.0,27.168944,27.287640,1,True
39940,2017-12-22,1451,27.154762,1.0,27.154762,27.353135,1,True
39941,2017-12-25,1451,27.294686,1.0,27.294686,27.381847,1,True
39942,2017-12-26,1451,27.336870,1.0,27.336870,27.463892,1,True
39943,2017-12-27,1451,27.251485,1.0,27.251485,27.522321,1,True
39944,2017-12-28,1451,27.287640,1.0,27.287640,27.461463,1,True
39945,2017-12-29,1451,27.353135,0.0,27.353135,27.350177,0,True
39946,2018-01-02,1451,27.381847,0.0,27.381847,27.204415,0,True
39947,2018-01-03,1451,27.463892,0.0,27.463892,26.959119,0,True