In [81]:
import numpy as np 
import pandas as pd 
import datetime
from datetime import datetime, date
from tqdm import tqdm_notebook as tqdm
import os


from multiprocessing import Pool
from functools import partial
import ALL_STOCK_preprocess_function as func

In [2]:
file_path = 'D:\\庫存健診開發\\Stock_Crawl\\data\\'
file_list = [file_path + f for f in os.listdir(file_path)]
df_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(func.data_preprocess, file_list), total=len(file_list)), 1):
                df_list.append(x)
                
data = pd.concat(df_list, axis=0)
data['ts'] = pd.to_datetime(data['ts'])
data

HBox(children=(IntProgress(value=0, max=3865), HTML(value='')))

,StockNo,StockName,vol,total,open,high,low,close,ts
0,0001,鴻運,19000.0,147700.0,7.70,7.85,7.70,7.70,2004-02-11
1,0015,富邦,301000.0,1851900.0,6.20,6.20,6.15,6.15,2004-02-11
2,0029,富邦店,365000.0,1796740.0,4.95,4.95,4.89,4.89,2004-02-11
3,0050,元大台灣50,5264000.0,254721750.0,48.50,48.50,48.26,48.37,2004-02-11
4,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11
...,...,...,...,...,...,...,...,...,...
1095,9944,新麗,23016.0,395877.0,17.30,17.30,17.15,17.15,2019-09-19
1096,9945,潤泰新,1274272.0,54539822.0,43.20,43.25,42.55,42.60,2019-09-19
1097,9946,三發地產,871020.0,20392114.0,23.25,23.50,23.25,23.50,2019-09-19
1098,9955,佳龍,957510.0,18002738.0,19.10,19.10,18.65,18.80,2019-09-19
1099,9958,世紀鋼,4011923.0,308696223.0,78.40,78.40,76.20,76.30,2019-09-19

In [3]:
stock_list = func.GetStockList(data)
stock_list

['1101',
 '1102',
 '1103',
 '1104',
 '1107',
 '1108',
 '1109',
 '1110',
 '1201',
 '1203',
 '1204',
 '1207',
 '1210',
 '1212',
 '1213',
 '1215',
 '1216',
 '1217',
 '1218',
 '1219',
 '1220',
 '1224',
 '1225',
 '1227',
 '1228',
 '1229',
 '1231',
 '1232',
 '1233',
 '1234',
 '1235',
 '1236',
 '1301',
 '1303',
 '1304',
 '1305',
 '1306',
 '1307',
 '1308',
 '1309',
 '1310',
 '1311',
 '1312',
 '1313',
 '1314',
 '1315',
 '1316',
 '1319',
 '1321',
 '1323',
 '1324',
 '1325',
 '1326',
 '1402',
 '1408',
 '1409',
 '1410',
 '1413',
 '1414',
 '1416',
 '1417',
 '1418',
 '1419',
 '1423',
 '1432',
 '1434',
 '1435',
 '1436',
 '1437',
 '1438',
 '1439',
 '1440',
 '1441',
 '1442',
 '1443',
 '1444',
 '1445',
 '1446',
 '1447',
 '1449',
 '1450',
 '1451',
 '1452',
 '1453',
 '1454',
 '1455',
 '1456',
 '1457',
 '1458',
 '1459',
 '1460',
 '1462',
 '1463',
 '1464',
 '1465',
 '1466',
 '1467',
 '1468',
 '1469',
 '1470',
 '1471',
 '1472',
 '1473',
 '1474',
 '1475',
 '1476',
 '1477',
 '1503',
 '1504',
 '1506',
 '1507',
 '1512',
 '1513',
 '1514',
 '1515',
 '1516',
 '1517',
 '1519',
 '1520',
 '1521',
 '1522',
 '1523',
 '1524',
 '1525',
 '1526',
 '1527',
 '1528',
 '1529',
 '1530',
 '1531',
 '1532',
 '1533',
 '1534',
 '1535',
 '1536',
 '1537',
 '1538',
 '1539',
 '1540',
 '1541',
 '1601',
 '1603',
 '1604',
 '1605',
 '1606',
 '1608',
 '1609',
 '1611',
 '1612',
 '1613',
 '1614',
 '1615',
 '1616',
 '1617',
 '1618',
 '1701',
 '1702',
 '1704',
 '1707',
 '1708',
 '1709',
 '1710',
 '1711',
 '1712',
 '1713',
 '1714',
 '1715',
 '1716',
 '1717',
 '1718',
 '1720',
 '1721',
 '1722',
 '1723',
 '1724',
 '1725',
 '1726',
 '1727',
 '1729',
 '1730',
 '1731',
 '1732',
 '1733',
 '1734',
 '1735',
 '1736',
 '1737',
 '1802',
 '1805',
 '1806',
 '1807',
 '1808',
 '1809',
 '1810',
 '1902',
 '1903',
 '1904',
 '1905',
 '1906',
 '1907',
 '1909',
 '2002',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2012',
 '2013',
 '2014',
 '2015',
 '2017',
 '2020',
 '2022',
 '2023',
 '2024',
 '2025',
 '2027',
 '2028',
 '2029',
 '2030',
 '2031',
 '2032',
 '2033',
 '2034',
 '2101',
 '2102',
 '2103',
 '2104',
 '2105',
 '2106',
 '2107',
 '2108',
 '2109',
 '2201',
 '2204',
 '2206',
 '2207',
 '2301',
 '2303',
 '2305',
 '2308',
 '2311',
 '2312',
 '2313',
 '2314',
 '2315',
 '2316',
 '2317',
 '2318',
 '2319',
 '2321',
 '2323',
 '2324',
 '2325',
 '2326',
 '2327',
 '2328',
 '2329',
 '2330',
 '2331',
 '2332',
 '2333',
 '2335',
 '2336',
 '2337',
 '2338',
 '2340',
 '2341',
 '2342',
 '2343',
 '2344',
 '2345',
 '2347',
 '2348',
 '2349',
 '2350',
 '2351',
 '2352',
 '2353',
 '2354',
 '2355',
 '2356',
 '2357',
 '2358',
 '2359',
 '2360',
 '2361',
 '2362',
 '2363',
 '2364',
 '2365',
 '2366',
 '2367',
 '2368',
 '2369',
 '2370',
 '2371',
 '2373',
 '2374',
 '2375',
 '2376',
 '2377',
 '2378',
 '2379',
 '2380',
 '2381',
 '2382',
 '2383',
 '2384',
 '2385',
 '2386',
 '2387',
 '2388',
 '2389',
 '2390',
 '2391',
 '2392',
 '2393',
 '2394',
 '2395',
 '2396',
 '2397',
 '2398',
 '2399',
 '2401',
 '2402',
 '2403',
 '2404',
 '2405',
 '2406',
 '2407',
 '2408',
 '2409',
 '2410',
 '2411',
 '2412',
 '2413',
 '2414',
 '2415',
 '2416',
 '2417',
 '2418',
 '2419',
 '2420',
 '2421',
 '2422',
 '2423',
 '2424',
 '2425',
 '2426',
 '2427',
 '2428',
 '2429',
 '2430',
 '2431',
 '2432',
 '2433',
 '2434',
 '2435',
 '2436',
 '2437',
 '2438',
 '2439',
 '2440',
 '2441',
 '2442',
 '2443',
 '2444',
 '2446',
 '2447',
 '2448',
 '2449',
 '2450',
 '2451',
 '2452',
 '2453',
 '2454',
 '2455',
 '2456',
 '2457',
 '2458',
 '2459',
 '2460',
 '2461',
 '2462',
 '2463',
 '2464',
 '2465',
 '2466',
 '2467',
 '2468',
 '2469',
 '2470',
 '2471',
 '2472',
 '2473',
 '2474',
 '2475',
 '2476',
 '2477',
 '2478',
 '2479',
 '2480',
 '2481',
 '2482',
 '2483',
 '2484',
 '2485',
 '2486',
 '2487',
 '2488',
 '2489',
 '2490',
 '2491',
 '2492',
 '2493',
 '2494',
 '2495',
 '2496',
 '2497',
 '2498',
 '2499',
 '2501',
 '2504',
 '2505',
 '2506',
 '2509',
 '2511',
 '2514',
 '2515',
 '2516',
 '2520',
 '2523',
 '2524',
 '2525',
 '2526',
 '2527',
 '2528',
 '2530',
 '2533',
 '2534',
 '2535',
 '2536',
 '2537',
 '2538',
 '2539',
 '2540',
 '2542',
 '2543',
 '2544',
 '2545',
 '2546',
 '2547',
 '2548',
 '2601',
 '2603',
 '2605',
 '2606',
 '2607',
 '2608',
 '2609',
 '2610',
 '2611',
 '2612',
 '2613',
 '2614',
 '2615',
 '2616',
 '2617',
 '2618',
 '2701',
 '2702',
 '2704',
 '2705',
 '2706',
 '2707',
 '2801',
 '2807',
 '2808',
 '2809',
 '2811',
 '2812',
 '2816',
 '2820',
 '2822',
 '2823',
 '2825',
 '2827',
 '2831',
 '2832',
 '2833',
 '2834',
 '2836',
 '2837',
 '2838',
 '2841',
 '2845',
 '2847',
 '2849',
 '2850',
 '2851',
 '2852',
 '2854',
 '2855',
 '2856',
 '2880',
 '2881',
 '2882',
 '2883',
 '2884',
 '2885',
 '2886',
 '2887',
 '2888',
 '2889',
 '2890',
 '2891',
 '2892',
 '2901',
 '2902',
 '2903',
 '2904',
 '2905',
 '2906',
 '2908',
 '2910',
 '2911',
 '2912',
 '2913',
 '2915',
 '3001',
 '3002',
 '3003',
 '3004',
 '3005',
 '3006',
 '3007',
 '3008',
 '3009',
 '3010',
 '3011',
 '3012',
 '3013',
 '3014',
 '3015',
 '3016',
 '3017',
 '3018',
 '3019',
 '3020',
 '3021',
 '3022',
 '3023',
 '3024',
 '3025',
 '3026',
 '3027',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3035',
 '3036',
 '3037',
 '3038',
 '3039',
 '3040',
 '3041',
 '3042',
 '3043',
 '3044',
 '3045',
 '3046',
 '3047',
 '3048',
 '3049',
 '3050',
 '3051',
 '3052',
 '3053',
 '3054',
 '3055',
 '3056',
 '3057',
 '3058',
 '3059',
 '3060',
 '3061',
 '3062',
 '3063',
 '3231',
 '4119',
 '4526',
 '4532',
 '4906',
 '5434',
 '5469',
 '5471',
 '5484',
 '5515',
 '5608',
 '6012',
 '6112',
 '6117',
 '6119',
 '6128',
 '6132',
 '6133',
 '6136',
 '6139',
 '6141',
 '6142',
 '6145',
 '6165',
 '6168',
 '6257',
 '6269',
 '6277',
 '6282',
 '6285',
 '6286',
 '6289',
 '6505',
 '8016',
 '8078',
 '8926',
 '9101',
 '9102',
 '9103',
 '9104',
 '9105',
 '9801',
 '9902',
 '9904',
 '9905',
 '9906',
 '9907',
 '9908',
 '9910',
 '9911',
 '9912',
 '9914',
 '9915',
 '9917',
 '9918',
 '9919',
 '9921',
 '9922',
 '9924',
 '9925',
 '9926',
 '9927',
 '9928',
 '9929',
 '9930',
 '9931',
 '9933',
 '9934',
 '9935',
 '9936',
 '9937',
 '9938',
 '9939',
 '9940',
 '9941',
 '9942',
 '9943',
 '9944',
 '9945',
 '2302',
 '3311',
 '6605',
 '5534',
 '6172',
 '6189',
 '6196',
 '8101',
 '5305',
 '6004',
 '6115',
 '3142',
 '6206',
 '6235',
 '3701',
 '4414',
 '6116',
 '5203',
 '6131',
 '6192',
 '6201',
 '6202',
 '6216',
 '6225',
 '3189',
 '8008',
 '4106',
 '6166',
 '6197',
 '6209',
 '6239',
 '5854',
 '3214',
 '5525',
 '5607',
 '3380',
 '2227',
 '6280',
 '1560',
 '3271',
 '5531',
 '6184',
 '3356',
 '8249',
 '8072',
 '4904',
 '3367',
 '3702',
 '6005',
 '6281',
 '3406',
 '3130',
 '3474',
 '3450',
 '8046',
 '6155',
 '6120',
 '3481',
 '3315',
 '6255',
 '3443',
 '8105',
 '3504',
 '6176',
 '8033',
 '3545',
 '3094',
 '5522',
 '3501',
 '4725',
 '6191',
 '8201',
 '8110',
 '3514',
 '3515',
 '2062',
 '6271',
 '3518',
 '8163',
 '8131',
 '5388',
 '3383',
 '3532',
 '3533',
 '3494',
 '3090',
 '3296',
 '3376',
 '4104',
 '6215',
 '8070',
 '8112',
 '3419',
 '4306',
 '6153',
 '6205',
 '6213',
 '6283',
 '8021',
 '9955',
 '1583',
 '3519',
 '3535',
 '3557',
 '3308',
 '9958',
 '3534',
 '3536',
 '5533',
 '3080',
 '2059',
 '3305',
 '4108',
 '6164',
 '3559',
 '6226',
 '3209',
 '3561',
 '2208',
 '8374',
 '2038',
 '6108',
 '8081',
 '3576',
 '1773',
 '3596',
 '3593',
 '6251',
 '3622',
 '3605',
 '9151',
 '8940',
 '9136',
 '3614',
 '2049',
 '3588',
 '3573',
 '6224',
 '8103',
 '9188',
 '9106',
 '3607',
 '3653',
 '9110',
 '6152',
 '8261',
 '9157',
 '1582',
 '6243',
 '8039',
 '3579',
 '3617',
 '8213',
 '4133',
 '3229',
 '3164',
 '2597',
 '3703',
 '3638',
 '4930',
 '4938',
 '3686',
 '3584',
 '3704',
 '6278',
 '6230',
 '4919',
 '3673',
 '3550',
 '3591',
 '8215',
 '2231',
 '2723',
 '2637',
 '1590',
 '1762',
 '3697',
 '4737',
 '2114',
 '3312',
 '8271',
 '3432',
 '4733',
 '6214',
 '3705',
 '3598',
 '4746',
 '3257',
 '3665',
 '3694',
 '8404',
 '4942',
 '3454',
 '4935',
 '4934',
 '1337',
 '3669',
 '4984',
 '8199',
 '5007',
 '8011',
 '1789',
 '3698',
 '3645',
 '3679',
 '4144',
 '8422',
 '5706',
 '4956',
 '4960',
 '5906',
 '4952',
 '6702',
 '8411',
 '3149',
 '5880',
 '6183',
 '8210',
 '8427',
 '5871',
 '4426',
 '4958',
 '5215',
 '2727',
 '2722',
 '1339',
 '4141',
 '1589',
 '4142',
 '3599',
 '5907',
 '5234',
 '4722',
 '4915',
 '9802',
 '4164',
 '5225',
 '4976',
 '8114',
 '2923',
 '5269',
 '2867',
 '5521',
 '1338',
 '8429',
 '5264',
 '3583',
 '1626',
 '6504',
 '4999',
 '6177',
 '3682',
 '3706',
 '9946',
 '2731',
 '4536',
 '3167',
 '1817',
 '5280',
 '6412',
 '1786',
 '4916',
 '4977',
 '2228',
 '5243',
 '4137',
 '4755',
 '6405',
 '2712',
 '5259',
 '2642',
 '6415',
 '3338',
 '5538',
 '1783',
 '2115',
 '4994',
 '2929',
 '1340',
 '1262',
 '5519',
 '8996',
 '5285',
 '6409',
 '6414',
 '8150',
 '1568',
 '3437',
 '2634',
 '8443',
 '5288',
 '1592',
 '3661',
 '6431',
 '6449',
 '8454',
 '1558',
 '3266',
 '6422',
 '3416',
 '6451',
 '8222',
 '8341',
 '6452',
 '4912',
 '2236',
 '6456',
 '4720',
 '8463',
 '6442',
 '3413',
 '4551',
 '4927',
 '6443',
 '4557',
 '4190',
 '4555',
 '4763',
 '4968',
 '3321',
 '8467',
 '6464',
 '8464',
 '4545',
 '2239',
 '1256',
 '2069',
 ...]

In [57]:
df_stock = data[data.StockNo.isin(stock_list)]
df_stock

,StockNo,StockName,vol,total,open,high,low,close,ts
4,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11
6,1102,亞泥,8444006.0,189526735.0,23.00,23.00,21.90,22.40,2004-02-11
7,1103,嘉泥,15338755.0,333925503.0,22.30,22.40,21.40,21.40,2004-02-11
8,1104,環泥,9735915.0,154830405.0,16.20,16.20,15.60,15.60,2004-02-11
9,1107,建台,52512394.0,331146786.0,6.35,6.50,5.95,6.35,2004-02-11
...,...,...,...,...,...,...,...,...,...
1095,9944,新麗,23016.0,395877.0,17.30,17.30,17.15,17.15,2019-09-19
1096,9945,潤泰新,1274272.0,54539822.0,43.20,43.25,42.55,42.60,2019-09-19
1097,9946,三發地產,871020.0,20392114.0,23.25,23.50,23.25,23.50,2019-09-19
1098,9955,佳龍,957510.0,18002738.0,19.10,19.10,18.65,18.80,2019-09-19
1099,9958,世紀鋼,4011923.0,308696223.0,78.40,78.40,76.20,76.30,2019-09-19

In [58]:
exception = pd.read_csv('C:\\Users\\011553\\Downloads\\MI_INDEX.csv', converters={'StockNo': str})
exception['ts'] = date(2008,6,19)
exception[['open', 'high', 'low', 'close']] = exception[['open', 'high', 'low', 'close']].replace('--', np.nan)
exception['vol'], exception['total'], exception['open'], exception['close'], exception['high'], exception['low'] = exception['vol'].apply(lambda x: str(x).replace(',', '')), exception['total'].apply(lambda x: str(x).replace(',', '')), exception['open'].apply(lambda x: str(x).replace(',', '')), exception['close'].apply(lambda x: str(x).replace(',', '')), exception['high'].apply(lambda x: str(x).replace(',', '')), exception['low'].apply(lambda x: str(x).replace(',', ''))
exception[['vol', 'total', 'open', 'high', 'low', 'close']] = exception[['vol', 'total', 'open', 'high', 'low', 'close']].astype(np.float)
exception['ts'] = pd.to_datetime(exception['ts'])
exception

    StockNo         vol         total   open   high    low  close         ts
0        15     68000.0  5.146800e+05   7.60   7.63   7.56   7.57 2008-06-19
1        50  17913039.0  1.046759e+09  59.00  59.00  58.15  58.45 2008-06-19
2        51    142000.0  4.362940e+06  31.08  31.08  30.63  30.63 2008-06-19
3        52     20005.0  7.286450e+05  36.50  36.50  36.20  36.50 2008-06-19
4        53     96000.0  2.235760e+06  23.60  23.60  23.20  23.24 2008-06-19
..      ...         ...           ...    ...    ...    ...    ...        ...
729    9943    117000.0  2.397550e+06  20.70  21.50  20.20  20.90 2008-06-19
730    9944    143030.0  4.739707e+06  33.40  33.50  32.80  33.30 2008-06-19
731    9945   5200778.0  1.467010e+08  27.35  28.55  27.35  28.25 2008-06-19
732    9955    414160.0  2.719074e+07  66.00  66.20  65.00  65.60 2008-06-19
733    9958    344000.0  4.833450e+06  14.20  14.25  13.85  13.95 2008-06-19

[734 rows x 8 columns]

In [59]:
exception = exception[exception['StockNo'].isin(stock_list)]
exception

    StockNo         vol        total   open   high    low  close         ts
18     1101  13364941.0  619963086.0  46.30  46.90  45.90  46.00 2008-06-19
19     1102   5847349.0  297695447.0  51.40  51.50  50.30  50.40 2008-06-19
20     1103   1945511.0   46262855.0  24.00  24.25  23.40  23.80 2008-06-19
21     1104  20346754.0  499061839.0  24.00  25.10  23.40  23.95 2008-06-19
22     1108   1481605.0   16465955.0  11.00  11.35  11.00  11.05 2008-06-19
..      ...         ...          ...    ...    ...    ...    ...        ...
729    9943    117000.0    2397550.0  20.70  21.50  20.20  20.90 2008-06-19
730    9944    143030.0    4739707.0  33.40  33.50  32.80  33.30 2008-06-19
731    9945   5200778.0  146700961.0  27.35  28.55  27.35  28.25 2008-06-19
732    9955    414160.0   27190740.0  66.00  66.20  65.00  65.60 2008-06-19
733    9958    344000.0    4833450.0  14.20  14.25  13.85  13.95 2008-06-19

[713 rows x 8 columns]

In [60]:
d1 = df_stock[['StockNo', 'StockName']].drop_duplicates()
d1

    StockNo StockName
4      1101        台泥
6      1102        亞泥
7      1103        嘉泥
8      1104        環泥
9      1107        建台
..      ...       ...
863    5283       禾聯碩
818    4576     大銀微系統
817    4572        駐龍
394    2233        宇隆
818    4571     鈞興-KY

[1085 rows x 2 columns]

In [61]:
d = pd.merge(d1, exception, on=['StockNo'], how='inner')
d

,StockNo,StockName,vol,total,open,high,low,close,ts
0,1101,台泥,13364941.0,619963086.0,46.3,46.90,45.90,46.00,2008-06-19
1,1102,亞泥,5847349.0,297695447.0,51.4,51.50,50.30,50.40,2008-06-19
2,1103,嘉泥,1945511.0,46262855.0,24.0,24.25,23.40,23.80,2008-06-19
3,1104,環泥,20346754.0,499061839.0,24.0,25.10,23.40,23.95,2008-06-19
4,1108,幸福,1481605.0,16465955.0,11.0,11.35,11.00,11.05,2008-06-19
...,...,...,...,...,...,...,...,...,...
708,9958,世紀鋼,344000.0,4833450.0,14.2,14.25,13.85,13.95,2008-06-19
709,3534,雷凌,2444668.0,591156819.0,236.0,247.50,232.00,241.00,2008-06-19
710,3536,誠創,3430000.0,85605200.0,24.4,25.75,24.00,24.75,2008-06-19
711,5533,皇鼎,381750.0,8637137.0,22.9,22.90,22.50,22.50,2008-06-19
712,3080,威力盟,252448.0,13995219.0,55.3,56.10,54.60,55.30,2008-06-19

In [62]:
d = d[df_stock.columns]
d

,StockNo,StockName,vol,total,open,high,low,close,ts
0,1101,台泥,13364941.0,619963086.0,46.3,46.90,45.90,46.00,2008-06-19
1,1102,亞泥,5847349.0,297695447.0,51.4,51.50,50.30,50.40,2008-06-19
2,1103,嘉泥,1945511.0,46262855.0,24.0,24.25,23.40,23.80,2008-06-19
3,1104,環泥,20346754.0,499061839.0,24.0,25.10,23.40,23.95,2008-06-19
4,1108,幸福,1481605.0,16465955.0,11.0,11.35,11.00,11.05,2008-06-19
...,...,...,...,...,...,...,...,...,...
708,9958,世紀鋼,344000.0,4833450.0,14.2,14.25,13.85,13.95,2008-06-19
709,3534,雷凌,2444668.0,591156819.0,236.0,247.50,232.00,241.00,2008-06-19
710,3536,誠創,3430000.0,85605200.0,24.4,25.75,24.00,24.75,2008-06-19
711,5533,皇鼎,381750.0,8637137.0,22.9,22.90,22.50,22.50,2008-06-19
712,3080,威力盟,252448.0,13995219.0,55.3,56.10,54.60,55.30,2008-06-19

In [63]:
df_stock = pd.concat([df_stock, d], axis=0)
df_stock

,StockNo,StockName,vol,total,open,high,low,close,ts
4,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11
6,1102,亞泥,8444006.0,189526735.0,23.00,23.00,21.90,22.40,2004-02-11
7,1103,嘉泥,15338755.0,333925503.0,22.30,22.40,21.40,21.40,2004-02-11
8,1104,環泥,9735915.0,154830405.0,16.20,16.20,15.60,15.60,2004-02-11
9,1107,建台,52512394.0,331146786.0,6.35,6.50,5.95,6.35,2004-02-11
...,...,...,...,...,...,...,...,...,...
708,9958,世紀鋼,344000.0,4833450.0,14.20,14.25,13.85,13.95,2008-06-19
709,3534,雷凌,2444668.0,591156819.0,236.00,247.50,232.00,241.00,2008-06-19
710,3536,誠創,3430000.0,85605200.0,24.40,25.75,24.00,24.75,2008-06-19
711,5533,皇鼎,381750.0,8637137.0,22.90,22.90,22.50,22.50,2008-06-19
712,3080,威力盟,252448.0,13995219.0,55.30,56.10,54.60,55.30,2008-06-19

In [112]:
date_df = pd.read_csv('D:\\庫存健診開發\\data\\Stock\\Date.csv')
date_df

       StockNo   On_Date  Off_Date
0        Y7003  20190225  20190225
1       000002  20110106         0
2         0001  19900218  20050531
3         0015  19930326  20140219
4         0017  19930410         0
...        ...       ...       ...
135118  YY0089  19980826  20030101
135119  YY0090  19971218  20010124
135120  YY0091  19980518  20020417
135121  YY00UO  19901111  20090504
135122  YY00VO  20091215         0

[135123 rows x 3 columns]

In [113]:
df = pd.merge(df_stock, date_df, on='StockNo', how='left')
df

,StockNo,StockName,vol,total,open,high,low,close,ts,On_Date,Off_Date
0,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11,19620209,0
1,1102,亞泥,8444006.0,189526735.0,23.00,23.00,21.90,22.40,2004-02-11,19620608,0
2,1103,嘉泥,15338755.0,333925503.0,22.30,22.40,21.40,21.40,2004-02-11,19691114,0
3,1104,環泥,9735915.0,154830405.0,16.20,16.20,15.60,15.60,2004-02-11,19710201,0
4,1107,建台,52512394.0,331146786.0,6.35,6.50,5.95,6.35,2004-02-11,19871224,20120607
...,...,...,...,...,...,...,...,...,...,...,...
3060555,9958,世紀鋼,344000.0,4833450.0,14.20,14.25,13.85,13.95,2008-06-19,20030602,0
3060556,3534,雷凌,2444668.0,591156819.0,236.00,247.50,232.00,241.00,2008-06-19,20070111,20111001
3060557,3536,誠創,3430000.0,85605200.0,24.40,25.75,24.00,24.75,2008-06-19,20070301,0
3060558,5533,皇鼎,381750.0,8637137.0,22.90,22.90,22.50,22.50,2008-06-19,20010809,0
3060559,3080,威力盟,252448.0,13995219.0,55.30,56.10,54.60,55.30,2008-06-19,20030602,20130201

In [114]:
df = df[df['Off_Date'] == 0]
df

,StockNo,StockName,vol,total,open,high,low,close,ts,On_Date,Off_Date
0,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11,19620209,0
1,1102,亞泥,8444006.0,189526735.0,23.00,23.00,21.90,22.40,2004-02-11,19620608,0
2,1103,嘉泥,15338755.0,333925503.0,22.30,22.40,21.40,21.40,2004-02-11,19691114,0
3,1104,環泥,9735915.0,154830405.0,16.20,16.20,15.60,15.60,2004-02-11,19710201,0
5,1108,幸福,5772106.0,65259128.0,11.75,11.75,11.05,11.05,2004-02-11,19900319,0
...,...,...,...,...,...,...,...,...,...,...,...
3060553,3557,嘉威,1767296.0,74756404.0,39.50,43.10,39.20,43.10,2008-06-19,20070417,0
3060554,3308,聯德,52000.0,1654950.0,32.80,32.80,30.65,31.80,2008-06-19,20040903,0
3060555,9958,世紀鋼,344000.0,4833450.0,14.20,14.25,13.85,13.95,2008-06-19,20030602,0
3060557,3536,誠創,3430000.0,85605200.0,24.40,25.75,24.00,24.75,2008-06-19,20070301,0
3060558,5533,皇鼎,381750.0,8637137.0,22.90,22.90,22.50,22.50,2008-06-19,20010809,0

In [115]:
df = df.drop(columns=['Off_Date'])
df

,StockNo,StockName,vol,total,open,high,low,close,ts,On_Date
0,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11,19620209
1,1102,亞泥,8444006.0,189526735.0,23.00,23.00,21.90,22.40,2004-02-11,19620608
2,1103,嘉泥,15338755.0,333925503.0,22.30,22.40,21.40,21.40,2004-02-11,19691114
3,1104,環泥,9735915.0,154830405.0,16.20,16.20,15.60,15.60,2004-02-11,19710201
5,1108,幸福,5772106.0,65259128.0,11.75,11.75,11.05,11.05,2004-02-11,19900319
...,...,...,...,...,...,...,...,...,...,...
3060553,3557,嘉威,1767296.0,74756404.0,39.50,43.10,39.20,43.10,2008-06-19,20070417
3060554,3308,聯德,52000.0,1654950.0,32.80,32.80,30.65,31.80,2008-06-19,20040903
3060555,9958,世紀鋼,344000.0,4833450.0,14.20,14.25,13.85,13.95,2008-06-19,20030602
3060557,3536,誠創,3430000.0,85605200.0,24.40,25.75,24.00,24.75,2008-06-19,20070301
3060558,5533,皇鼎,381750.0,8637137.0,22.90,22.90,22.50,22.50,2008-06-19,20010809

In [116]:
date_df = pd.read_csv('D:\\庫存健診開發\\data\\Stock\\new_listing.csv', converters={'StockNo': str})
date_df

    StockNo     OnDate
0      4571  108.09.17
1      2233  108.09.17
2      4572  108.09.10
3      4576  108.09.04
4      5283  108.05.24
..      ...        ...
635    2445   90.04.02
636    1729   90.03.21
637    9939   90.03.02
638    9938   90.01.12
639    2443   90.01.03

[640 rows x 2 columns]

In [117]:
date_df['OnDate'] = date_df['OnDate'].apply(lambda x: datetime.strptime(str(int(x[:-6]) + 1911) + '-' + x[-5:-3] + '-' + x[-2:], '%Y-%m-%d').date())
date_df

    StockNo      OnDate
0      4571  2019-09-17
1      2233  2019-09-17
2      4572  2019-09-10
3      4576  2019-09-04
4      5283  2019-05-24
..      ...         ...
635    2445  2001-04-02
636    1729  2001-03-21
637    9939  2001-03-02
638    9938  2001-01-12
639    2443  2001-01-03

[640 rows x 2 columns]

In [118]:
df = pd.merge(df, date_df, on='StockNo', how='left')
df

,StockNo,StockName,vol,total,open,high,low,close,ts,On_Date,OnDate
0,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11,19620209,NaN
1,1102,亞泥,8444006.0,189526735.0,23.00,23.00,21.90,22.40,2004-02-11,19620608,NaN
2,1103,嘉泥,15338755.0,333925503.0,22.30,22.40,21.40,21.40,2004-02-11,19691114,NaN
3,1104,環泥,9735915.0,154830405.0,16.20,16.20,15.60,15.60,2004-02-11,19710201,NaN
4,1108,幸福,5772106.0,65259128.0,11.75,11.75,11.05,11.05,2004-02-11,19900319,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2903270,3557,嘉威,1767296.0,74756404.0,39.50,43.10,39.20,43.10,2008-06-19,20070417,2008-02-27
2903271,3308,聯德,52000.0,1654950.0,32.80,32.80,30.65,31.80,2008-06-19,20040903,2008-03-12
2903272,9958,世紀鋼,344000.0,4833450.0,14.20,14.25,13.85,13.95,2008-06-19,20030602,2008-03-12
2903273,3536,誠創,3430000.0,85605200.0,24.40,25.75,24.00,24.75,2008-06-19,20070301,2008-04-30
2903274,5533,皇鼎,381750.0,8637137.0,22.90,22.90,22.50,22.50,2008-06-19,20010809,2008-04-30

In [119]:
d1 = df[df.OnDate.notnull()]
d1['OnDate'] = pd.to_datetime(d1['OnDate'])
d1 = d1[d1['ts'].dt.date >= d1['OnDate'].dt.date]
d1['On_Date'] = d1['OnDate']
d1

C:\Users\011553\AppData\Local\Continuum\anaconda3\envs\tf-gpu\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,StockNo,StockName,vol,total,open,high,low,close,ts,On_Date,OnDate
25,1236,宏亞,1091039.0,22967407.0,21.60,21.70,20.50,20.70,2004-02-11,2001-09-17,2001-09-17
92,1476,儒鴻,1810000.0,29800500.0,16.90,16.90,15.80,15.80,2004-02-11,2001-04-18,2001-04-18
93,1477,聚陽,1843191.0,126118922.0,68.00,70.00,67.50,69.00,2004-02-11,2003-01-21,2003-01-21
116,1533,車王電,123010.0,4879291.0,39.50,40.00,39.40,40.00,2004-02-11,2001-04-06,2001-04-06
117,1535,中宇,718110.0,7761869.0,10.85,11.00,10.70,10.95,2004-02-11,2001-09-17,2001-09-17
...,...,...,...,...,...,...,...,...,...,...,...
2903270,3557,嘉威,1767296.0,74756404.0,39.50,43.10,39.20,43.10,2008-06-19,2008-02-27,2008-02-27
2903271,3308,聯德,52000.0,1654950.0,32.80,32.80,30.65,31.80,2008-06-19,2008-03-12,2008-03-12
2903272,9958,世紀鋼,344000.0,4833450.0,14.20,14.25,13.85,13.95,2008-06-19,2008-03-12,2008-03-12
2903273,3536,誠創,3430000.0,85605200.0,24.40,25.75,24.00,24.75,2008-06-19,2008-04-30,2008-04-30
2903274,5533,皇鼎,381750.0,8637137.0,22.90,22.90,22.50,22.50,2008-06-19,2008-04-30,2008-04-30

In [120]:
d1[d1['StockNo'] == '6669']

,StockNo,StockName,vol,total,open,high,low,close,ts,On_Date,OnDate
2788542,6669,緯穎,7122919.0,2.673135e+09,370.0,387.0,362.0,378.0,2019-03-27,2019-03-27,2019-03-27
2789475,6669,緯穎,4537483.0,1.740783e+09,375.0,391.5,374.0,390.5,2019-03-28,2019-03-27,2019-03-27
2790408,6669,緯穎,2862326.0,1.104980e+09,396.5,397.5,380.5,381.0,2019-04-01,2019-03-27,2019-03-27
2791341,6669,緯穎,3122075.0,1.230862e+09,393.0,398.0,390.0,392.5,2019-03-29,2019-03-27,2019-03-27
2792275,6669,緯穎,3130654.0,1.182467e+09,381.0,383.5,371.5,381.5,2019-04-02,2019-03-27,2019-03-27
...,...,...,...,...,...,...,...,...,...,...,...
2898760,6669,緯穎,1172825.0,5.268048e+08,449.0,453.5,444.0,448.5,2019-09-17,2019-03-27,2019-03-27
2899695,6669,緯穎,6645297.0,3.074019e+09,445.5,468.5,445.0,467.0,2019-09-20,2019-03-27,2019-03-27
2900631,6669,緯穎,923775.0,4.172568e+08,448.0,454.5,447.5,451.5,2019-09-18,2019-03-27,2019-03-27
2901570,6669,緯穎,1568894.0,7.271717e+08,466.0,474.0,458.5,460.5,2019-09-23,2019-03-27,2019-03-27
2902505,6669,緯穎,2940476.0,1.324651e+09,459.0,464.5,437.5,440.0,2019-09-19,2019-03-27,2019-03-27

In [121]:
d2 = df[df.OnDate.isnull()]
d2

,StockNo,StockName,vol,total,open,high,low,close,ts,On_Date,OnDate
0,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11,19620209,NaN
1,1102,亞泥,8444006.0,189526735.0,23.00,23.00,21.90,22.40,2004-02-11,19620608,NaN
2,1103,嘉泥,15338755.0,333925503.0,22.30,22.40,21.40,21.40,2004-02-11,19691114,NaN
3,1104,環泥,9735915.0,154830405.0,16.20,16.20,15.60,15.60,2004-02-11,19710201,NaN
4,1108,幸福,5772106.0,65259128.0,11.75,11.75,11.05,11.05,2004-02-11,19900319,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2903167,9934,成霖,426728.0,12010949.0,28.05,28.25,28.05,28.10,2008-06-19,20000911,NaN
2903168,9935,慶豐富,1059627.0,25051984.0,23.70,23.80,23.55,23.70,2008-06-19,20000911,NaN
2903169,9937,全國,394899.0,10978276.0,27.45,28.20,27.30,28.00,2008-06-19,20000911,NaN
2903177,9945,潤泰新,5200778.0,146700961.0,27.35,28.55,27.35,28.25,2008-06-19,19920430,NaN
2903178,2302,麗正,295134.0,1289852.0,4.32,4.46,4.32,4.35,2008-06-19,19700101,NaN

In [122]:
d = pd.concat([d2, d1], axis=0)
d = d.drop(columns=['On_Date'])
d

,StockNo,StockName,vol,total,open,high,low,close,ts,OnDate
0,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11,NaN
1,1102,亞泥,8444006.0,189526735.0,23.00,23.00,21.90,22.40,2004-02-11,NaN
2,1103,嘉泥,15338755.0,333925503.0,22.30,22.40,21.40,21.40,2004-02-11,NaN
3,1104,環泥,9735915.0,154830405.0,16.20,16.20,15.60,15.60,2004-02-11,NaN
4,1108,幸福,5772106.0,65259128.0,11.75,11.75,11.05,11.05,2004-02-11,NaN
...,...,...,...,...,...,...,...,...,...,...
2903270,3557,嘉威,1767296.0,74756404.0,39.50,43.10,39.20,43.10,2008-06-19,2008-02-27 00:00:00
2903271,3308,聯德,52000.0,1654950.0,32.80,32.80,30.65,31.80,2008-06-19,2008-03-12 00:00:00
2903272,9958,世紀鋼,344000.0,4833450.0,14.20,14.25,13.85,13.95,2008-06-19,2008-03-12 00:00:00
2903273,3536,誠創,3430000.0,85605200.0,24.40,25.75,24.00,24.75,2008-06-19,2008-04-30 00:00:00
2903274,5533,皇鼎,381750.0,8637137.0,22.90,22.90,22.50,22.50,2008-06-19,2008-04-30 00:00:00

In [76]:
d.iloc[0]['OnDate'].isna()

AttributeError: 'float' object has no attribute 'isna'

In [123]:
timedf = pd.DataFrame(df['ts'].unique(), columns=['ts'])
timedf = timedf.sort_values(by='ts')
timedf

             ts
0    2004-02-11
1    2004-02-12
2    2004-02-13
3    2004-02-16
5    2004-02-17
...         ...
3860 2019-09-17
3862 2019-09-18
3864 2019-09-19
3861 2019-09-20
3863 2019-09-23

[3866 rows x 1 columns]

In [124]:
df_list = [group[1] for group in d.groupby(d['StockNo'])]

output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.FillMissingTime, timedf=timedf), df_list), total=len(df_list)), 1):
                if x[0]:
                    output_list.append(x[1])
                else:    
                    continue
                
df = pd.concat(output_list, axis=0)
df

HBox(children=(IntProgress(value=0, max=951), HTML(value='')))

C:\Users\011553\AppData\Local\Continuum\anaconda3\envs\tf-gpu\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

,OnDate,StockName,StockNo,close,high,low,open,return,total,ts,vol
1,NaN,亞泥,1102,22.4,23.0,21.9,23.0,NaN,1.895267e+08,2004-02-11,8444006.0
570,NaN,亞泥,1102,21.9,22.5,21.3,22.3,-0.5,2.468034e+08,2004-02-12,11195882.0
1139,NaN,亞泥,1102,23.3,23.3,21.5,21.5,1.4,8.446286e+08,2004-02-13,37115038.0
1708,NaN,亞泥,1102,23.7,24.7,23.0,23.3,0.4,1.132873e+09,2004-02-16,47586534.0
2847,NaN,亞泥,1102,24.5,24.5,23.5,23.8,0.8,6.549583e+08,2004-02-17,27383235.0
...,...,...,...,...,...,...,...,...,...,...,...
2848,2008-03-12 00:00:00,世紀鋼,9958,77.3,78.9,77.1,78.9,-0.2,2.371908e+08,2019-09-17,3050500.0
2849,2008-03-12 00:00:00,世紀鋼,9958,77.7,79.3,77.5,77.9,0.4,4.648791e+08,2019-09-18,5940537.0
2850,2008-03-12 00:00:00,世紀鋼,9958,76.3,78.4,76.2,78.4,-1.4,3.086962e+08,2019-09-19,4011923.0
2851,2008-03-12 00:00:00,世紀鋼,9958,75.8,77.0,75.8,76.6,-0.5,1.328813e+08,2019-09-20,1742684.0
2852,2008-03-12 00:00:00,世紀鋼,9958,75.8,76.5,75.4,75.8,0.0,1.161456e+08,2019-09-23,1530090.0

In [126]:
df = df.drop(columns=['OnDate'])
df

,StockName,StockNo,close,high,low,open,return,total,ts,vol
1,亞泥,1102,22.4,23.0,21.9,23.0,NaN,1.895267e+08,2004-02-11,8444006.0
570,亞泥,1102,21.9,22.5,21.3,22.3,-0.5,2.468034e+08,2004-02-12,11195882.0
1139,亞泥,1102,23.3,23.3,21.5,21.5,1.4,8.446286e+08,2004-02-13,37115038.0
1708,亞泥,1102,23.7,24.7,23.0,23.3,0.4,1.132873e+09,2004-02-16,47586534.0
2847,亞泥,1102,24.5,24.5,23.5,23.8,0.8,6.549583e+08,2004-02-17,27383235.0
...,...,...,...,...,...,...,...,...,...,...
2848,世紀鋼,9958,77.3,78.9,77.1,78.9,-0.2,2.371908e+08,2019-09-17,3050500.0
2849,世紀鋼,9958,77.7,79.3,77.5,77.9,0.4,4.648791e+08,2019-09-18,5940537.0
2850,世紀鋼,9958,76.3,78.4,76.2,78.4,-1.4,3.086962e+08,2019-09-19,4011923.0
2851,世紀鋼,9958,75.8,77.0,75.8,76.6,-0.5,1.328813e+08,2019-09-20,1742684.0
2852,世紀鋼,9958,75.8,76.5,75.4,75.8,0.0,1.161456e+08,2019-09-23,1530090.0

In [132]:
df.to_csv('D:\\庫存健診開發\\data\\Stock\\TWSE_Stock.csv', index=False)