In [1]:
import numpy as np 
import pandas as pd 
import datetime
from datetime import datetime, date
from tqdm import tqdm_notebook as tqdm
import os


from multiprocessing import Pool
from functools import partial
import ALL_STOCK_preprocess_function as func

In [2]:
data = pd.read_csv('D:\\庫存健診開發\\data\\processed\\TWSE_stock.csv', converters={'StockNo': str})
data['ts'] = pd.to_datetime(data['ts'])
fundamental = pd.read_csv('D:\\庫存健診開發\\data\\processed\\Ondate.csv', converters={'StockNo': str})
fundamental['On_Date'] = pd.to_datetime(fundamental['On_Date'])
eliminate = pd.read_csv('D:\\庫存健診開發\\data\\processed\\eliminate.csv', converters={'StockNo': str})
eliminate['Stop_date'], eliminate['Restart_date'] = pd.to_datetime(eliminate['Stop_date']), pd.to_datetime(eliminate['Restart_date'])

In [4]:
df_list = [group[1] for group in data.groupby(data['StockNo'])]
timedf = pd.DataFrame(data['ts'].unique(), columns=['ts'])
timedf = timedf.sort_values(by='ts')
output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.FillMissingTime, timedf=timedf, ondate=fundamental, eliminate=eliminate), df_list), total=len(df_list)), 1):
                output_list.append(x)

df = pd.concat(output_list)
df

HBox(children=(IntProgress(value=0, max=935), HTML(value='')))

,ts,StockNo,StockName,open,high,low,close,return,volatility,vol,total,capital,VWAP,On_Date
0,2007-07-06,1201,味全,27.8,29.00,27.00,27.10,-1.99,7.23,47797.0,1330740.0,137.2,27.841496,1962-02-09
1,2007-07-13,1201,味全,27.4,28.00,26.05,28.00,3.32,7.20,40665.0,1098082.0,141.7,27.003123,1962-02-09
2,2007-07-20,1201,味全,28.2,29.70,27.00,27.35,-2.32,9.64,70742.0,2023733.0,138.4,28.607235,1962-02-09
3,2007-07-27,1201,味全,27.2,27.60,25.45,26.15,-4.39,7.86,36930.0,993338.0,132.3,26.897861,1962-02-09
4,2007-08-03,1201,味全,26.0,27.45,23.50,23.60,-9.75,15.11,38949.0,992702.0,119.4,25.487227,1962-02-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,2019-08-23,9958,世紀鋼,74.0,74.30,70.00,71.50,-2.72,5.85,10267.0,740359.0,149.6,72.110548,2008-03-12
590,2019-08-30,9958,世紀鋼,70.5,72.00,68.00,69.30,-3.08,5.59,11304.0,787514.0,145.0,69.666844,2008-03-12
591,2019-09-06,9958,世紀鋼,69.4,76.40,68.70,76.00,9.67,11.11,20056.0,1491548.0,159.1,74.369166,2008-03-12
592,2019-09-12,9958,世紀鋼,76.4,77.80,74.10,76.80,1.05,4.87,13741.0,1046838.0,160.7,76.183538,2008-03-12
593,2019-09-20,9958,世紀鋼,78.0,80.60,75.80,75.80,-1.30,6.25,22575.0,1762466.0,158.6,78.071584,2008-03-12

In [6]:
index = pd.read_csv('D:\\庫存健診開發\\data\\processed\\index_weekly.csv')
industry_index = pd.read_csv('D:\\庫存健診開發\\data\\processed\\industry_index_weekly.csv')
index['ts'] = pd.to_datetime(index['ts'])
industry_index['ts'] = pd.to_datetime(industry_index['ts'])

In [7]:
index

,ts,index_open,index_high,index_low,index_close,index_return,index_vol
0,2004-03-05,6816.79,7135.00,6816.79,6943.68,2.86,53199334
1,2004-02-13,6442.84,6578.82,6397.34,6549.18,3.08,44196512
2,2004-02-27,6686.67,6756.76,6589.23,6750.54,1.28,35774666
3,2004-04-09,6627.23,6744.56,6555.41,6620.36,1.14,27080554
4,2004-03-12,6997.66,7025.11,6766.16,6800.24,-2.07,33154002
...,...,...,...,...,...,...,...
805,2019-10-09,10932.24,11020.51,10889.96,10889.96,-0.04,11652876
806,2019-09-20,10822.69,10971.54,10822.69,10929.69,0.94,21816636
807,2019-10-18,11004.74,11237.38,11004.74,11180.22,2.67,23032954
808,2019-10-25,11166.24,11347.18,11147.86,11296.12,1.04,20636359
809,2019-09-06,10613.19,10803.07,10557.03,10780.64,1.53,23556023

In [8]:
df_list = [group[1] for group in df.groupby(df['StockNo'])]
output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.merge_index, index=index, industry_index=industry_index, fundamental=fundamental), df_list), total=len(df_list)), 1):
                output_list.append(x)
                
df = pd.concat(output_list)
df

HBox(children=(IntProgress(value=0, max=935), HTML(value='')))

,ts,StockNo,StockName,open,high,low,close,return,volatility,vol,...,index_low,index_close,index_return,index_vol,industry_open,industry_high,industry_low,industry_close,industry_return,industry_vol
0,2007-07-06,1104,環泥,15.70,16.90,15.50,16.40,4.46,8.92,30157.0,...,8849.35,9188.31,3.43,33936343,125.08,127.13,121.95,125.67,0.91,329943
1,2007-07-13,1104,環泥,16.60,19.20,16.00,18.60,13.41,19.51,67952.0,...,9239.20,9471.30,3.08,40915539,126.77,129.90,122.90,128.85,2.53,365788
2,2007-07-20,1104,環泥,18.90,20.80,18.60,19.10,2.69,11.83,66527.0,...,9337.67,9585.90,1.21,41962983,130.43,138.68,128.71,133.35,3.49,399830
3,2007-07-27,1104,環泥,19.10,20.00,16.90,17.45,-8.64,16.23,56343.0,...,9162.28,9162.28,-4.42,44825246,133.31,142.06,128.73,128.73,-3.46,304857
4,2007-08-03,1104,環泥,17.35,18.10,15.50,16.55,-5.16,14.90,32929.0,...,8727.64,9057.82,-1.14,36042834,122.46,130.87,117.15,123.70,-3.91,270931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,2019-08-23,9955,佳龍,20.70,20.80,20.10,20.10,-3.83,3.35,7981.0,...,10449.39,10538.11,1.12,21388067,277.88,279.81,277.54,279.04,0.28,174659
596,2019-08-30,9955,佳龍,21.60,21.80,20.60,20.95,4.23,5.97,14226.0,...,10340.15,10618.05,0.76,21770208,279.00,279.00,273.32,278.46,-0.21,199111
597,2019-09-06,9955,佳龍,21.30,21.45,20.20,20.20,-3.58,5.97,7841.0,...,10557.03,10780.64,1.53,23556023,278.56,283.24,277.85,282.66,1.51,157785
598,2019-09-12,9955,佳龍,20.40,20.40,18.95,19.30,-4.46,7.18,4552.0,...,10732.78,10827.55,0.44,17660925,282.60,285.49,282.54,284.45,0.63,142212
599,2019-09-20,9955,佳龍,19.60,19.70,18.65,19.15,-0.78,5.44,3598.0,...,10822.69,10929.69,0.94,21816636,284.40,284.88,281.21,281.76,-0.95,172890

In [9]:
inventory = pd.read_csv('D:\\庫存健診開發\\data\\processed\\inventory.csv', converters={'StockNo': str})
inventory['ts'] = pd.to_datetime(inventory['ts'])
inventory

,ts,StockNo,foreign_buy,investment_buy,dealer_buy,foreign_ratio,investment_ratio,dealer_ratio,corporation_ratio
0,2004-02-10,3022,0.0,-150.0,-217,0.00,0.76,0.80,1.56
1,2004-02-10,5450,0.0,0.0,0,11.95,3.29,0.24,15.48
2,2004-02-10,5443,0.0,0.0,0,0.15,2.62,0.00,2.77
3,2004-02-10,5442R,0.0,0.0,0,NaN,NaN,0.00,NaN
4,2004-02-10,5442,0.0,0.0,0,2.08,0.00,0.00,2.08
...,...,...,...,...,...,...,...,...,...
6250036,2019-10-31,2481,-1433.0,-832.0,177,11.91,2.47,0.49,14.87
6250037,2019-10-31,2480,-69.0,0.0,0,10.00,0.71,0.38,11.09
6250038,2019-10-31,2478,-377.0,0.0,0,6.00,0.03,0.20,6.23
6250039,2019-10-31,2495,-35.0,0.0,0,17.48,0.21,0.06,17.75
6250040,2019-10-31,TWC00,-14154.0,-3435.0,-1542,22.63,1.55,0.66,24.84

In [4]:
df_new = pd.merge(df, inventory[['ts', 'StockNo', 'foreign_ratio', 'investment_ratio', 'dealer_ratio', 'corporation_ratio']], on=['ts', 'StockNo'], how='left')

In [5]:
df_list = [group[1] for group in df_new.groupby(df_new['StockNo'])]
output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(func.merge_inventory, df_list), total=len(df_list)), 1):
                output_list.append(x)
                
df = pd.concat(output_list)
df

HBox(children=(IntProgress(value=0, max=935), HTML(value='')))

,ts,StockNo,StockName,open,high,low,close,return,volatility,vol,...,industry_close,industry_return,industry_vol,foreign_buy,investment_buy,dealer_buy,foreign_ratio,investment_ratio,dealer_ratio,corporation_ratio
0,2007-07-02,1101,台泥,38.2,38.20,37.00,37.50,-1.57,3.15,10222.0,...,124.56,0.02,44467.0,-3917.0,-765.0,158.0,47.42,0.78,0.28,48.48
1,2007-07-03,1101,台泥,37.7,37.80,37.05,37.40,-0.27,2.00,9831.0,...,124.54,-0.02,76827.0,-1035.0,0.0,1255.0,47.39,0.78,0.32,48.49
2,2007-07-04,1101,台泥,37.5,38.40,37.35,37.70,0.80,2.81,11124.0,...,125.13,0.47,48887.0,1057.0,680.0,198.0,47.43,0.80,0.32,48.55
3,2007-07-05,1101,台泥,37.7,38.00,37.00,37.00,-1.86,2.65,15043.0,...,123.23,-1.52,55899.0,-8619.0,601.0,74.0,47.16,0.82,0.33,48.31
4,2007-07-06,1101,台泥,37.0,38.65,36.75,38.55,4.19,5.14,25513.0,...,125.67,1.98,103863.0,5288.0,1485.0,1155.0,47.32,0.87,0.36,48.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2849,2019-09-17,9958,世紀鋼,78.9,78.90,77.10,77.30,-0.26,2.32,3050.0,...,101.55,-1.14,31349.0,508.0,0.0,-358.0,2.22,1.30,1.45,4.97
2850,2019-09-18,9958,世紀鋼,77.9,79.30,77.50,77.70,0.91,2.34,5940.0,...,101.80,0.25,33530.0,-291.0,0.0,144.0,2.06,1.30,1.52,4.88
2851,2019-09-19,9958,世紀鋼,78.4,78.40,76.20,76.30,-1.80,2.83,4011.0,...,101.59,-0.21,22747.0,64.0,0.0,-161.0,2.08,1.30,1.44,4.82
2852,2019-09-20,9958,世紀鋼,76.6,77.00,75.80,75.80,-0.66,1.57,1742.0,...,102.10,0.50,55930.0,144.0,0.0,21.0,2.60,1.30,1.45,5.35
2853,2019-09-23,9958,世紀鋼,75.8,76.50,75.40,75.80,0.00,1.45,1530.0,...,101.19,-0.89,27986.0,110.0,0.0,-114.0,2.68,1.30,1.40,5.38

In [10]:
df.to_csv('D:\\庫存健診開發\\data\\processed\\TWSE_stock_processed_weekly.csv', index=False)