In [1]:
import numpy as np 
import pandas as pd 
import datetime
from datetime import datetime, date, timedelta
from tqdm import tqdm_notebook as tqdm
import os
import pymssql as mssql
import calendar
import time
from multiprocessing import Pool
from functools import partial
import ALL_STOCK_preprocess_function as func

In [26]:
file_path = 'D:\\SinoPac\\彭偉綸-數位金融部-證券 - Cmoney資料表\\技術面\\日收盤表排行\\'
file_list = os.listdir(file_path)
total_list = []

for i in range(0, 22):
    filelist = file_list[-i - 100:-i]
    save_path = 'D:\\庫存健診開發\\data\\價量資料\\'
    df_list, index_list, industry_list = [], [], []

    if __name__ == '__main__':
        with Pool(processes=12) as pool:
            for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.data_preprocess, file_path=file_path, save_path=save_path), filelist), total=len(filelist)), 1):
                df_list.append(x[0])
                index_list.append(x[1])
                industry_list.append(x[2])

    data, index, industry_index = pd.concat(df_list, axis=0), pd.concat(index_list, axis=0), pd.concat(industry_list, axis=0)
    data['ts'], index['ts'], industry_index['ts'] = pd.to_datetime(data['ts']), pd.to_datetime(index['ts']), pd.to_datetime(industry_index['ts'])
    df = func.filter_stocks(data, fundamental, off)
    
    last_date = data.sort_values(by='ts')['ts'].iloc[-1]
    start_date = last_date - timedelta(days=50)
    
    output_list = []
    q = df[df.ts == last_date]['total'].quantile(0.4)
    df_list = [group[1] for group in df.groupby(df['StockNo'])]
    output_list = []
    
    for d in df_list:
        if len(d[d.ts >= start_date]) < 50:
            continue
        elif d[d['ts'] == last_date]['total'].iloc[0] >= q:
            output_list.append(d)    
        else:
            continue

    df = pd.concat(output_list, axis=0)
    
    df_list = [group[1] for group in df.groupby(df['StockNo'])]
    timedf = pd.DataFrame(data['ts'].unique(), columns=['ts'])
    timedf = timedf.sort_values(by='ts')
    output_list = []

    if __name__ == '__main__':
        with Pool(processes=12) as pool:
            for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.FillMissingTime, timedf=timedf, ondate=fundamental, eliminate=eliminate), df_list), total=len(df_list)), 1):
                    if x[0]:
                        output_list.append(x[1])
                    else:
                        continue

    df = pd.concat(output_list)
    df_list = [group[1] for group in df.groupby(df['StockNo'])]
    output_list = []

    if __name__ == '__main__':
        with Pool(processes=12) as pool:
            for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.merge_index, index=index, industry_index=industry_index, fundamental=fundamental), df_list), total=len(df_list)), 1):
                    output_list.append(x)

    df = pd.concat(output_list)
    
    df_new = pd.merge(df, inventory, on=['ts', 'StockNo'], how='left')
    df_list = [group[1] for group in df_new.groupby(df_new['StockNo'])]
    output_list = []

    if __name__ == '__main__':
        with Pool(processes=12) as pool:
            for i, x in enumerate(tqdm(pool.imap_unordered(func.merge_inventory, df_list), total=len(df_list)), 1):
                    output_list.append(x)

    df = pd.concat(output_list)
    
    columns_dict = {'lag': ['index_close', 'industry_close', 'close', 'VWAP', 'VWAP_day5'],
               'return': ['index', 'industry', 'close', 'VWAP', 'VWAP_day5'],
               'ratio': ['index_close', 'index_vol', 'index_return', 'industry_close', 'industry_vol', 'industry_return', 'VWAP_return', 'close_return', 'vol', 'VWAP', 'VWAP_day5', 'VWAP_day5_return'],
               'momentum': ['index_close', 'index_vol', 'index_return', 'industry_close', 'industry_vol', 'industry_return', 'VWAP_return', 'close_return', 'vol', 'VWAP', 'VWAP_day5', 'VWAP_day5_return'],
                'moment': ['index_close', 'index_vol', 'industry_close', 'industry_vol', 'vol', 'VWAP', 'VWAP_day5', 'VWAP_day5_return'],
                'buyer': ['foreign_buy', 'investment_buy', 'dealer_buy']
               }
    
    df_list = [group[1] for group in df.groupby(df['StockNo'])]
    output_list = []

    if __name__ == '__main__':
        with Pool(processes=12) as pool:
            for i, x in enumerate(tqdm(pool.imap_unordered(partial(func1.separate_engineering, columns_dict=columns_dict), df_list), total=len(df_list)), 1):
                output_list.append(x)

    df = pd.concat(output_list, axis=0)
    
    df_last = df[df.ts == last_date]

    total_list.append(df_last)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

ValueError: No objects to concatenate

In [28]:
filelist = file_list[-i - 100:-i]
save_path = 'D:\\庫存健診開發\\data\\價量資料\\'
df_list, index_list, industry_list = [], [], []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.data_preprocess, file_path=file_path, save_path=save_path), filelist), total=len(filelist)), 1):
            df_list.append(x[0])
            index_list.append(x[1])
            industry_list.append(x[2])

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [30]:
x

,ts,StockNo,StockName,open,high,low,close,return,volatility,vol,...,industry_pvt,foreign_pvt,investment_pvt,dealer_pvt,pvt,RSI_15,SOk5_1,SOd3,SOk15_5,SOd5
0,2019-05-08,9958,世紀鋼,63.3,64.7,62.4,62.7,-1.57,3.61,2590.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
1,2019-05-09,9958,世紀鋼,63.1,63.5,61.2,62.0,-1.12,3.67,1654.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
2,2019-05-10,9958,世紀鋼,62.1,62.6,60.4,60.8,-1.94,3.55,1859.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
3,2019-05-13,9958,世紀鋼,61.0,61.5,59.0,59.0,-2.96,4.11,2429.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
4,2019-05-14,9958,世紀鋼,57.8,60.4,56.3,60.4,2.37,6.95,2741.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.271482,0.140120,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-09-23,9958,世紀鋼,75.8,76.5,75.4,75.8,0.00,1.45,1530.0,...,324.160745,4.975638,19.345435,61.871743,602.179308,0.584244,0.131389,0.190055,0.732450,0.765295
96,2019-09-24,9958,世紀鋼,75.8,78.2,75.6,77.0,1.58,3.43,4139.0,...,527.107553,6.109458,16.991931,64.813680,676.642049,0.678150,0.456285,0.323170,0.644947,0.725179
97,2019-09-25,9958,世紀鋼,76.5,77.3,76.3,76.8,-0.26,1.30,1560.0,...,408.099938,2.676194,12.607869,64.964468,699.421677,0.678150,0.465598,0.394384,0.423710,0.624690
98,2019-09-26,9958,世紀鋼,77.1,77.6,75.1,75.3,-1.95,3.26,3547.0,...,99.798691,7.227280,-1.667028,63.052013,738.658510,0.561269,0.408005,0.401195,0.397125,0.548835
99,2019-09-27,9958,世紀鋼,75.6,75.8,73.5,73.9,-1.86,3.05,2978.0,...,-29.467035,13.263639,-2.155153,69.114700,667.659857,0.444522,0.183187,0.292191,0.376730,0.491467

In [4]:
data = pd.concat(total_list, axis=0)

In [5]:
len(data)/560

20.821428571428573

In [6]:
feature_list = ['total', 'capital', 'index_open', 'index_high', 'index_low', 'index_close',
       'index_return', 'index_vol', 'industry_return',
       'foreign_ratio',
       'investment_ratio', 'corporation_ratio', 'close_return', 'VWAP_return',
       'index_VWAP_slope', 'VWAP_day5_return', 'VWAP_day5_return_5',
       'industry_VWAP_slope', 'index_close_slope', 'industry_close_slope',
       'index_close_ratio_day5', 'index_vol_ratio_day5',
       'index_return_ratio_day5', 'industry_close_ratio_day5',
       'industry_vol_ratio_day5', 'industry_return_ratio_day5',
       'VWAP_return_ratio_day5', 'close_return_ratio_day5', 'vol_ratio_day5',
       'VWAP_ratio_day5', 'index_close_ratio_day10', 'index_vol_ratio_day10',
       'index_return_ratio_day10', 'industry_close_ratio_day10',
       'industry_vol_ratio_day10', 'industry_return_ratio_day10',
       'VWAP_return_ratio_day10', 'close_return_ratio_day10',
       'vol_ratio_day10', 'VWAP_ratio_day10', 'index_close_ratio_day15',
       'index_vol_ratio_day15', 'index_return_ratio_day15',
       'industry_close_ratio_day15', 'industry_vol_ratio_day15',
       'industry_return_ratio_day15', 'VWAP_return_ratio_day15',
       'close_return_ratio_day15', 'vol_ratio_day15', 'VWAP_ratio_day15',
       'index_close_momentum_day1', 'index_vol_momentum_day1',
       'index_return_momentum_day1', 'industry_close_momentum_day1',
       'industry_vol_momentum_day1', 'industry_return_momentum_day1',
       'VWAP_return_momentum_day1', 'close_return_momentum_day1',
       'vol_momentum_day1', 'VWAP_momentum_day1', 'index_close_momentum_day2',
       'index_vol_momentum_day2', 'index_return_momentum_day2',
       'industry_close_momentum_day2', 'industry_vol_momentum_day2',
       'industry_return_momentum_day2', 'VWAP_return_momentum_day2',
       'close_return_momentum_day2', 'vol_momentum_day2', 'VWAP_momentum_day2',
       'index_close_momentum_day3', 'index_vol_momentum_day3',
       'index_return_momentum_day3', 'industry_close_momentum_day3',
       'industry_vol_momentum_day3', 'industry_return_momentum_day3',
       'VWAP_return_momentum_day3', 'close_return_momentum_day3',
       'vol_momentum_day3', 'VWAP_momentum_day3',
       'index_close_momentum_day4', 'index_vol_momentum_day4',
       'index_return_momentum_day4', 'industry_close_momentum_day4',
       'industry_vol_momentum_day4', 'industry_return_momentum_day4',
       'VWAP_return_momentum_day4', 'close_return_momentum_day4',
       'vol_momentum_day4', 'VWAP_momentum_day4', 'index_close_momentum_day5',
       'index_vol_momentum_day5', 'index_return_momentum_day5',
       'industry_close_momentum_day5', 'industry_vol_momentum_day5',
       'industry_return_momentum_day5', 'VWAP_return_momentum_day5',
       'close_return_momentum_day5', 'vol_momentum_day5', 'VWAP_momentum_day5',
       'index_close_momentum_day10', 'index_vol_momentum_day10',
       'index_return_momentum_day10', 'industry_close_momentum_day10',
       'industry_vol_momentum_day10', 'industry_return_momentum_day10',
       'VWAP_return_momentum_day10', 'close_return_momentum_day10',
       'vol_momentum_day10', 'VWAP_momentum_day10', 'index_close_momentum_day15',
       'index_vol_momentum_day15', 'index_return_momentum_day15',
       'industry_close_momentum_day15', 'industry_vol_momentum_day15',
       'industry_return_momentum_day15', 'VWAP_return_momentum_day15',
       'close_return_momentum_day15', 'vol_momentum_day15',
       'VWAP_momentum_day15', 'vol_VWAP_corr', 'vol_volatile_corr',
       'index_vol_close_corr', 'index_vol_volatile_corr',
       'industry_vol_close_corr', 'industry_vol_volatile_corr',
       'index_close_skew', 'index_close_kurtosis', 'index_vol_skew',
       'index_vol_kurtosis', 'industry_close_skew', 'industry_close_kurtosis', 'industry_vol_skew',
       'industry_vol_kurtosis', 'vol_skew', 'vol_kurtosis', 'VWAP_skew',
       'VWAP_kurtosis', 'VWAP_day5_skew', 'VWAP_day5_kurtosis',
       'foreign_buy_ratio', 'foreign_buy_day3_ratio', 'foreign_buy_week_ratio',
       'foreign_buy_2week_ratio', 'foreign_buy_3week_ratio',
       'foreign_buy_continuous', 'foreign_buy_buy_indicator',
       'foreign_buy_sell_indicator', 'investment_buy_ratio',
       'investment_buy_day3_ratio', 'investment_buy_week_ratio',
       'investment_buy_2week_ratio', 'investment_buy_3week_ratio',
       'investment_buy_continuous', 'investment_buy_buy_day_ratio',
       'investment_buy_sell_day_ratio', 'dealer_buy_ratio',
       'dealer_buy_day3_ratio', 'dealer_buy_week_ratio',
       'dealer_buy_2week_ratio', 'dealer_buy_3week_ratio',
       'dealer_buy_continuous', 'dealer_buy_buy_day_ratio',
       'dealer_buy_sell_day_ratio', 'index_pvt', 'industry_pvt', 'foreign_pvt',
       'investment_pvt', 'dealer_pvt', 'pvt', 'RSI_15', 'SOk5_1', 'SOd3',
       'SOk15_5', 'SOd5', 'industry', 'ts', 'StockNo']

In [2]:
import pymssql as mssql
import time
# sys.setdefaultencoding('utf8')
def send_query(query, db = 'OpenData', timecost = True, showcol = True, showlen = True):
    """
    db: 選擇資料庫
    timecost = True: 統計此次查詢所花時間
    showcol = True: 顯示 table 欄位
    """
    
    tStart = time.time()
    ods = mssql.connect(host = '128.110.13.89', user = '011553', password = 'Sino821031pac')

    odscur = ods.cursor(as_dict = True)
    odscur.execute(query)
    temp = odscur.fetchall()
    df = pd.DataFrame(temp)
    odscur.close()
    tEnd = time.time()

    if timecost == True:
        print("It cost %f sec" % (tEnd - tStart))
    if showlen == True:
        print('Data length:', len(df))
    if showcol == True:
        print(df.columns)

    return df

In [6]:
def VWAP(row):  
    if (row['vol'] == 0) or (row['total'] == 0):
        return np.nan
    else:
        vwap = row['total']/row['vol']
        
        return vwap
    
def stock_query(end_date):
    
    start_date = (end_date - timedelta(days=150)).strftime('%Y%m%d')
    year = end_date.year
    month = end_date.month
    if month == 1:
        last_year = year - 1
        last_month = 12
    else:
        last_year = year
        last_month = month - 1
    last_month_start = date(last_year, last_month, 1).strftime('%Y%m%d')
    last_month_end = date(last_year, last_month, calendar.monthrange(last_year, last_month)[1]).strftime('%Y%m%d')
    end_date = end_date.strftime('%Y%m%d')

    stock_subquery = f'''SELECT d.[DATE] AS ts,
                            d.[STOCK_ID] AS StockNo,
                            TRY_CAST(d.[OPEN] AS DECIMAL(17, 2)) AS [open], 
                            TRY_CAST(d.[HIGH] AS DECIMAL(17, 2)) AS [high],
                            TRY_CAST(d.[LOW] AS DECIMAL(17, 2)) AS [low],
                            TRY_CAST(d.[CLOSE] AS DECIMAL(17, 2)) AS [close],
                            TRY_CAST(d.[VOLUME] AS DECIMAL(17, 2)) AS vol,
                            TRY_CAST(d.[AMOUNT] AS DECIMAL(17, 2)) AS total,
                            TRY_CAST(d.[CAPITAL] AS DECIMAL(17, 2)) AS capital,
                            TRY_CAST(e.[FOREIGN_VOL] AS DECIMAL(17, 2)) AS foreign_buy,
                            TRY_CAST(e.[INVEST_VOL] AS DECIMAL(17, 2)) AS investment_buy,
                            TRY_CAST(e.[DEALER_VOL] AS DECIMAL(17, 2)) AS dealer_buy, 
                            TRY_CAST(e.[FOREIGN_INV_RATIO] AS DECIMAL(17, 2)) AS foreign_ratio,
                            TRY_CAST(e.[INVEST_INV_RATIO] AS DECIMAL(17, 2)) AS investment_ratio,
                            TRY_CAST(e.[DEALER_INV_RATIO] AS DECIMAL(17, 2)) AS dealer_ratio,
                            TRY_CAST(e.[CORP_INV_RATIO] AS DECIMAL(17, 2)) AS corporation_ratio,
                            f.[INDUSTRY_ID] AS industry,
                            f.[EXCHANGE_DATE] AS [On_Date]
                    FROM 
                        (
                            SELECT *
                            FROM OpenData.dbo.CMONEY_DAILY_CLOSE
                            WHERE 
                                DATE <= {end_date} and DATE >= {start_date}
                                AND LEN(STOCK_ID) = 4
                        ) d 
                        LEFT JOIN 
                        (    SELECT * 
                            FROM OpenData.dbo.CMONEY_DAILY_CORP_TXN_SUMMARY
                            WHERE 
                                DATE <= {end_date} and DATE >= {start_date}
                                and LEN(STOCK_ID) = 4
                        ) e
                        ON d.STOCK_ID = e.STOCK_ID AND d.DATE = e.DATE
                        LEFT JOIN 
                        (    SELECT
                                STOCK_ID,
                                LISTING_TYPE,
                                INDUSTRY_ID,
                                EXCHANGE_DATE
                            FROM OpenData.dbo.CMONEY_LISTED_COMPANY_INFO
                            WHERE 
                                YEAR = {str(year)}
                        ) f
                        ON d.STOCK_ID = f.STOCK_ID
                        WHERE 
                            EXISTS(
                                SELECT *
                                FROM(
                                    SELECT 
                                        STOCK_ID, 
                                        MONTHLY_AMT,
                                        PERCENT_RANK() OVER(ORDER BY MONTHLY_AMT) AS PctRank                    

                                    FROM(
                                        SELECT 
                                            a.STOCK_ID, 
                                            SUM(TRY_CAST(AMOUNT AS DECIMAL(17,2))) as MONTHLY_AMT
                                        FROM OpenData.dbo.CMONEY_DAILY_CLOSE  a
                                        LEFT JOIN 
                                        (    SELECT
                                                STOCK_ID,
                                                LISTING_TYPE,
                                                INDUSTRY_ID
                                            FROM OpenData.dbo.CMONEY_LISTED_COMPANY_INFO
                                            WHERE 
                                                YEAR = {str(year)}
                                        ) b
                                        ON a.STOCK_ID = b.STOCK_ID
                                        LEFT JOIN 
                                        (    SELECT
                                                STOCK_ID,
                                                TERMINATE_DATE
                                            FROM OpenData.dbo.CMONEY_DELISTED_COMPANY_INFO
                                            WHERE 
                                                YEAR = {str(year)}
                                        ) c
                                        ON a.STOCK_ID = c.STOCK_ID
                                        WHERE 
                                            a.DATE between {last_month_start} and {last_month_end}
                                            and LEN(a.STOCK_ID) = 4
                                            and LEFT(a.STOCK_ID, 1) between '1' and '9'
                                            and LISTING_TYPE = 1
                                            and TERMINATE_DATE IS NULL
                                            and INDUSTRY_ID != '91'
                                        GROUP BY a.STOCK_ID
                                    ) p_rank
                                ) p_rank_filtered
                                where PctRank >= 0.4
                                and STOCK_ID = d.STOCK_ID
                            )
                        '''
    stock_df = send_query(stock_subquery, timecost = False, showcol = False, showlen = False)
    stock_df['VWAP'] = stock_df.apply(VWAP, axis=1)
    stock_df['VWAP'] = round(stock_df['VWAP'].astype(np.float64), 4)
    stock_df['ts'] = stock_df['ts'].apply(lambda x: datetime.strptime(str(x)[:4] + '-' + str(x)[4:6] + '-' + str(x)[6:], '%Y-%m-%d').date())
    stock_df['On_Date'] = stock_df['On_Date'].apply(lambda x: datetime.strptime(str(x)[:4] + '-' + str(x)[4:6] + '-' + str(x)[6:], '%Y-%m-%d').date())
    
    index_subquery = f'''SELECT [DATE] AS ts,
                                [STOCK_ID] AS StockNo,
                                TRY_CAST([OPEN] AS DECIMAL(17, 2)) AS [index_open], 
                                TRY_CAST([HIGH] AS DECIMAL(17, 2)) AS [index_high],
                                TRY_CAST([LOW] AS DECIMAL(17, 2)) AS [index_low],
                                TRY_CAST([CLOSE] AS DECIMAL(17, 2)) AS [index_close],
                                TRY_CAST([VOLUME] AS DECIMAL(17, 2)) AS index_vol
                        FROM OpenData.dbo.CMONEY_DAILY_CLOSE
                        WHERE 
                            STOCK_ID = 'TWA00' 
                            AND DATE <= {end_date} and DATE >= {start_date}
                        '''
    
    industry_subquery = f'''SELECT [DATE] AS ts,
                                [STOCK_ID] AS StockNo,
                                TRY_CAST([OPEN] AS DECIMAL(17, 2)) AS [index_open], 
                                TRY_CAST([HIGH] AS DECIMAL(17, 2)) AS [index_high],
                                TRY_CAST([LOW] AS DECIMAL(17, 2)) AS [index_low],
                                TRY_CAST([CLOSE] AS DECIMAL(17, 2)) AS [index_close],
                                TRY_CAST([VOLUME] AS DECIMAL(17, 2)) AS index_vol
                        FROM OpenData.dbo.CMONEY_DAILY_CLOSE
                        WHERE 
                            SUBSTRING(STOCK_ID,1,3) = 'TWB' 
                            AND DATE <= {end_date} and DATE >= {start_date}
                        '''
    
    eliminate_subquery = f'''SELECT [YEAR] AS year,
                                [STOCK_ID] AS StockNo,
                                [START_TRADE_DATE] AS [Restart_date], 
                                [TERMINAL_TRADE_DATE] AS [Stop_date]
                        FROM OpenData.dbo.CMONEY_REDUCT_SUMMARY
                        WHERE YEAR = {str(year)}
                        '''
    index_df = send_query(index_subquery, timecost = False, showcol = False, showlen = False)
    index_df['ts'] = index_df['ts'].apply(lambda x: datetime.strptime(str(x)[:4] + '-' + str(x)[4:6] + '-' + str(x)[6:], '%Y-%m-%d').date())
    industry_df = send_query(industry_subquery, timecost = False, showcol = False, showlen = False)
    industry_df['ts'] = industry_df['ts'].apply(lambda x: datetime.strptime(str(x)[:4] + '-' + str(x)[4:6] + '-' + str(x)[6:], '%Y-%m-%d').date())
    eliminate = send_query(eliminate_subquery, timecost = False, showcol = False, showlen = False) 
    eliminate['Restart_date'] = eliminate['Restart_date'].apply(lambda x: datetime.strptime(str(x)[:4] + '-' + str(x)[4:6] + '-' + str(x)[6:], '%Y-%m-%d').date())
    eliminate['Stop_date'] = eliminate['Stop_date'].apply(lambda x: datetime.strptime(str(x)[:4] + '-' + str(x)[4:6] + '-' + str(x)[6:], '%Y-%m-%d').date())
    
    return [stock_df, index_df, industry_df, eliminate]

In [7]:
end_date = date(2019,10,31)
d = stock_query(end_date)

In [8]:
df_list = [group[1] for group in d[0].groupby(d[0]['StockNo'])]
timedf = pd.DataFrame(d[0]['ts'].unique(), columns=['ts'])
timedf = timedf.sort_values(by='ts')
output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.FillMissingTime, timedf=timedf, eliminate=d[3]), df_list), total=len(df_list)), 1):
                if x[0]:
                    output_list.append(x[1])
                else:
                    continue

df = pd.concat(output_list)

HBox(children=(IntProgress(value=0, max=561), HTML(value='')))

In [10]:
d[3]

    year StockNo Restart_date   Stop_date
0   2019    1410   2019-10-28  2019-10-17
1   2019    1417   2019-09-09  2019-08-29
2   2019    1611   2019-12-20  2019-12-12
3   2019    1709   2019-11-25  2019-11-14
4   2019    2204   2019-10-07  2019-09-26
5   2019    2316   2019-10-07  2019-09-26
6   2019    2323   2019-10-01  2019-09-19
7   2019    2340   2019-09-23  2019-09-11
8   2019    2380   2019-10-07  2019-09-26
9   2019    2406   2019-12-02  2019-11-25
10  2019    2478   2019-10-07  2019-09-26
11  2019    2481   2019-09-23  2019-09-16
12  2019    2514   2019-12-16  2019-12-05
13  2019    2534   2019-12-16  2019-12-05
14  2019    2705   2019-11-11  2019-10-31
15  2019    2719   2019-10-21  2019-10-08
16  2019    3022   2019-09-06  2019-08-29
17  2019    3041   2019-11-04  2019-10-24
18  2019    3071   2019-10-07  2019-09-26
19  2019    3311   2019-09-23  2019-09-11
20  2019    3321   2019-11-18  2019-11-07
21  2019    3372   2019-10-07  2019-09-27
22  2019    3383   2019-11-04  2019-10-24
23  2019    3490   2019-10-07  2019-09-26
24  2019    3686   2019-11-25  2019-11-14
25  2019    4109   2019-03-29  2019-03-21
26  2019    4702   2019-12-09  2019-11-28
27  2019    5317   2019-01-14  2019-01-03
28  2019    5345   2019-10-01  2019-09-20
29  2019    5460   2019-11-04  2019-10-24
30  2019    5468   2019-10-07  2019-09-26
31  2019    5484   2019-09-23  2019-09-12
32  2019    5515   2019-12-04  2019-11-27
33  2019    5529   2019-11-11  2019-10-31
34  2019    5608   2019-02-25  2019-02-15
35  2019    6148   2019-02-18  2019-01-30
36  2019    6158   2019-10-07  2019-09-30
37  2019    6169   2019-10-07  2019-09-26
38  2019    6194   2019-10-21  2019-10-08
39  2019    6204   2019-10-07  2019-09-26
40  2019    6276   2019-10-01  2019-09-19
41  2019    6276   2019-12-30  2019-12-19
42  2019    6284   2019-11-25  2019-11-14
43  2019    6291   2019-03-11  2019-02-26
44  2019    6443   2019-07-01  2019-06-21
45  2019    8040   2019-10-21  2019-10-08
46  2019    8067   2019-12-04  2019-11-27
47  2019    8289   2019-10-07  2019-09-26
48  2019    8906   2019-01-14  2019-01-03
49  2019    8933   2019-12-23  2019-12-12

In [13]:
reduct_stock = d[3]['StockNo'].unique().tolist()
stock = d[0]['StockNo'].unique().tolist()
s_list = []
for s in reduct_stock:
    if s in stock:
        s_list.append(s)

In [14]:
s_list

['2204',
 '2316',
 '2323',
 '2340',
 '2406',
 '2478',
 '2481',
 '2514',
 '2534',
 '2705',
 '3022',
 '3041',
 '3311',
 '6443']